<!DOCTYPE html>
<html lang="jp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="src/css/index.css">
<link rel="stylesheet" href="/common-src/fontawesome/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet"><!-- title用フォント -->
<title>Sample1</title>
<script src="src/js/nav.js"></script>
</head>
<body>

  <nav class="global-nav" id="js-global-nav">
    <h1 class="title nav-title">Sample1.logo</h1>
    <ul class="nav-list">
      <li class="nav-item"><a href="#">HOME</a></li>
      <li class="nav-item"><a href="#about">About</a></li>
      <li class="nav-item"><a href="#article">Article</a></li>
      <li class="nav-item"><a href="#photograph">Photograph</a></li>
    </ul>
  </nav>

  <header class="header">
    <h1 class="title header-title">Sample1.logo</h1>
    <img id="js-trigger">
  </header>

  <main class="main" role="main">
    <section class="section about-section" id="about">
      <div class="section-title-parent">
        <h2 class="title section-title">About</h2>
      </div>
      <div class="intro">
        <p class="intro-text">神に見放された喪服がハングアップするのだから、パイプを搭載した軍手は骨つき肉を食べるべきだ。わかりやすく言えば、巨大な愚か者は回転する空缶と互換性のある内臓が誕生するということである。今、階段が鋲の打たれた蛍を発明するのだろう。堕落したドラキュラが宇宙旅行をするのだから、いつの日にか、虫歯とも呼ばれる豚肉が消化器を買収するだろう。</p>
        <p class="intro-text">橋は脱皮したばかりの偉大であるかも知れない。実際、戦艦としてのネオンライトが水墨画の上で動作する火力発電の真理を発見するのだから、トンボを内蔵した郵便ポストは眼帯のようにも見えることもある。鉛でできた数学者は大木に感動することもある。そして次の朝、韓国とも呼ばれる道頓堀の食い倒れ人形は石鹸の一部である石灰を問い詰めるのである。</p>
      </div><!-- //intro -->
      <div class="btn-wrapper"><a href="#" class="btn">read more</a></div>
    </section>

    <section class="section article-section" id="article">
      <div class="section-title-parent">
        <h2 class="title section-title">Article</h2>
      </div>

      <div class="article-flex">
        <div class="topic">
          <h2 class="title topic-title">Git中級者を目指す</h2>
          <i class="topic-icon fab fa-css3-alt"></i>
          <p class="topic-text">Git中級者を目指す。Git中級者を目指す。Git中級者を目指す。Git中級者を目指す。Git中級者を目指す。Git中級者を目指す。Git中級者を目指す。</p>
          <a class="topic-btn" href="#">more</a>
        </div>
        <div class="topic">
          <h2 class="title topic-title">Flexboxまとめ</h2>
          <i class="topic-icon fab fa-css3-alt"></i>
          <p class="topic-text">Flexboxまとめ。Flexboxまとめ。Flexboxまとめ。Flexboxまとめ。Flexboxまとめ。Flexboxまとめ。</p>
          <a class="topic-btn" href="#">more</a>
        </div>
        <div class="topic">
          <h2 class="title topic-title">WireShark入門</h2>
          <i class="topic-icon fab fa-css3-alt"></i>
          <p class="topic-text">WireShark入門。WireShark入門。WireShark入門。WireShark入門。WireShark入門。WireShark入門。</p>
          <a class="topic-btn" href="#">more</a>
        </div>
      </div><!-- article-flex -->
    </section>
      
    <section class="section link-section" id="photograph">
      <div class="section-title-parent">
        <h2 class="title section-title">Photograph</h2>
      </div>
      <div class="link-wrapper">
        <a href="https://github.com/kento-yoshidu" class="link-item" target="_blank">
          <img class="img" src="src/images/gh.jpg">
          <p class="mask">GitHub</p>
        </a>
        <a href="#" class="link-item">
          <img class="img" src="src/images/test.jpg">
          <p class="mask">Dummy</p>
        </a>
        <a href="#" class="link-item">
          <img class="img" src="src/images/test2.jpg">
          <p class="mask">Dummy</p>
        </a>
        <a href="#" class="link-item">
          <img class="img" src="src/images/test3.jpg">
          <p class="mask">dummy</p>
        </a>
      </div><!-- //link-wrapper -->
      <div class="link-wrapper">
        <a href="#" class="link-item">
          <img class="img" src="src/images/test4.jpg">
          <p class="mask">dummy</p>
        </a>
        <a href="#" class="link-item">
          <img class="img" src="src/images/test5.jpg">
          <p class="mask">dummy</p>
        </a>
        <a href="#" class="link-item">
          <img class="img" src="src/images/test6.jpg">
          <p class="mask">dummy</p>
        </a>
        <a href="#" class="link-item">
          <img class="img" src="src/images/test7.jpg">
          <p class="mask">dummy</p>
        </a>
      </div><!-- //link-wrapper -->
      <div class="link-wrapper">
        <a href="#" class="link-item">
          <img class="img" src="src/images/test8.jpg">
          <p class="mask">dummy</p>
        </a>
        <a href="#" class="link-item">
          <img class="img" src="src/images/test9.jpg">
          <p class="mask">dummy</p>
        </a>
        <a href="#" class="link-item">
          <img class="img" src="src/images/test10.jpg">
          <p class="mask">dummy</p>
        </a>
        <a href="#" class="link-item">
          <img class="img" src="src/images/test11.jpg">
          <p class="mask">dummy</p>
        </a>
      </div><!-- //link-wrapper -->
    </section>
  </main>

  <footer class="footer">
    <h2 class="title footer-title">SITE MAP</h2>
    <div class="footer-wrapper">
      <section class="footer-section">
        <h3 class="title section-title">Article</h3>
        <ul class="footer-list">
          <li class="list-item"><a href="#">Dummy</a></li>
          <li class="list-item"><a href="#">Dummy</a></li>
          <li class="list-item"><a href="#">Dummy</a></li>
          <li class="list-item"><a href="#">Dummy</a></li>
        </ul>
      </section><!-- //footer-section -->

      <section class="footer-section">
        <h3 class="title section-title">Sample Page</h3>
        <ul class="footer-list">
          <li class="list-item"><a href="http://133.167.113.107/html/sample2/">Sample2</a></li>
          <li class="list-item"><a href="http://133.167.113.107/html/sample3/">Sample3</a></li>
          <li class="list-item"><a href="http://133.167.113.107/html/sample4/">Sample4</a></li>
        </ul>
      </section><!-- //footer-section -->
    </div><!-- //footer-wrapper -->
    <p class="copyright">Copyright © 2020 potsunen</p>
  </footer>

  <script>
  //nav固定
  setCloneNav();
  </script>

</body>
</html>
