@import "../settings/variables";

html {
  font-family:-apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
    'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
    'Segoe UI',       /* Windowsの欧文 */
    YuGothicM,        /* Windows8.1以上は游ゴシック */
    YuGothic,         /* Macの游ゴシック */
    Meiryo,           /* 游ゴシックが入っていないWindows */
    sans-serif;
}


.title {
  font-family: 'Bitter', serif;
}
