@charset "UTF-8";
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.check {
  display: none; }

.drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 52, 52, 0.9)), to(rgba(67, 67, 67, 0.9)));
  background: -webkit-linear-gradient(top, rgba(52, 52, 52, 0.9), rgba(67, 67, 67, 0.9));
  background: -o-linear-gradient(top, rgba(52, 52, 52, 0.9), rgba(67, 67, 67, 0.9));
  background: linear-gradient(to bottom, rgba(52, 52, 52, 0.9), rgba(67, 67, 67, 0.9));
  -webkit-transform: translateX(-10vw);
  -ms-transform: translateX(-10vw);
  transform: translateX(-10vw);
  opacity: 0; }
  .drawer-menu .drawer-list {
    padding-left: 50px;
    margin-top: 10vh; }
    .drawer-menu .drawer-list .drawer-item {
      font-size: 3.8rem;
      color: #fff;
      text-align: left;
      margin-bottom: 18px; }
      .drawer-menu .drawer-list .drawer-item:first-of-type {
        margin-bottom: 30px; }
      .drawer-menu .drawer-list .drawer-item a {
        display: block;
        color: #fff;
        text-align: left;
        font-size: 1.8rem;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
        margin-left: 3px; }
        .drawer-menu .drawer-list .drawer-item a:hover {
          color: #444;
          background: #bbb;
          font-size: 1.6rem; }

.menu-btn {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 4; }
  .menu-btn .bar {
    display: block;
    width: 35px;
    height: 3px;
    background: #932993;
    border-radius: 3px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .menu-btn .bar-top {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    margin-bottom: 8px; }
  .menu-btn .bar-middle {
    margin-bottom: 8px; }
  .menu-btn:hover .bar {
    background: orange; }

.check:checked ~ .drawer-menu {
  display: block;
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
  z-index: 3;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s; }

.check:checked ~ .menu-btn .bar {
  background: #ddd; }

.check:checked ~ .menu-btn .bar-top {
  -webkit-transform: translateY(20px) rotate(405deg);
  -ms-transform: translateY(20px) rotate(405deg);
  transform: translateY(20px) rotate(405deg); }

.check:checked ~ .menu-btn .bar-middle {
  display: none; }

.check:checked ~ .menu-btn .bar-bottom {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transform: translateY(8px) rotate(-405deg);
  -ms-transform: translateY(8px) rotate(-405deg);
  transform: translateY(8px) rotate(-405deg); }

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none; } }

.swiper-container {
  width: 50%;
  min-width: 700px;
  margin: 5vh auto 8vh;
  height: 60vh;
  border: 5px solid #932993; }
  @media screen and (max-width: 768px) {
    .swiper-container {
      width: 90%;
      min-width: 0;
      height: 38vh;
      margin-bottom: 0; } }

.swiper-slide {
  color: #ffd700;
  position: relative; }
  .swiper-slide .slide-title {
    font-size: 3.6rem;
    font-family: 'Bitter', serif;
    font-weight: 100;
    letter-spacing: 3px;
    margin: 20px 0 0 20px;
    width: 90%;
    background: rgba(100, 100, 100, 0.9); }
    @media screen and (max-width: 768px) {
      .swiper-slide .slide-title {
        font-size: 2.2rem;
        letter-spacing: 1px;
        margin: 10px 0 0 10px; } }
  .swiper-slide .slide-text {
    font-size: 2.5rem;
    margin: 10px 0 0 20px;
    width: 60%;
    background: rgba(100, 100, 100, 0.9); }
    @media screen and (max-width: 768px) {
      .swiper-slide .slide-text {
        font-size: 2.1rem;
        margin: 5px 0 0 10px;
        background: rgba(100, 100, 100, 0.6);
        width: 90%; } }

.slide-1 {
  background-image: url("../images/live_photograph/live1.jpg");
  background-size: cover; }

.slide-2 {
  background-image: url("../images/live_photograph/live2.jpg");
  background-size: cover; }

.slide-3 {
  background-image: url("../images/live_photograph/live3.jpg");
  background-size: cover; }

.swiper-button-prev,
.swiper-button-next {
  color: red; }

.global-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  background: rgba(250, 250, 255, 0.3); }
  .global-nav .links {
    padding: 5px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .global-nav .links i {
      font-size: 2.8rem;
      margin: 0 6px;
      line-height: 1.5;
      color: #aaa;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .global-nav .links i:hover {
        color: #932993; }
  .global-nav .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 5vw; }
    .global-nav .site-nav .nav-item {
      margin: 0 4px; }
      .global-nav .site-nav .nav-item a {
        display: block;
        font-size: 2rem;
        line-height: 50px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        padding: 0 15px; }
        .global-nav .site-nav .nav-item a:hover {
          color: #932993; }

@media screen and (max-width: 768px) {
  .global-nav {
    display: none; } }

.nogi-base, .header-nogi, .footer-nogi {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50.3%, #932993)) no-repeat bottom right/100% 100%;
  background: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0) 50%, #932993 50.3%) no-repeat bottom right/100% 100%;
  background: -o-linear-gradient(top left, rgba(255, 255, 255, 0) 50%, #932993 50.3%) no-repeat bottom right/100% 100%;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 50%, #932993 50.3%) no-repeat bottom right/100% 100%;
  position: relative;
  font-family: 'Bitter', serif; }

.nogi-before, .header-nogi::before, .footer-nogi::before {
  position: absolute;
  right: 0;
  bottom: -30px;
  content: "potsunen";
  color: #932993;
  font-size: 2rem;
  font-style: italic; }

.nogi-after, .header-nogi::after, .footer-nogi::after {
  content: "47";
  font: 80px/1em -webkit-pictograph;
  color: #fff;
  right: 4px;
  bottom: 2px;
  position: absolute; }

.header-nogi {
  width: 60px;
  height: 63px;
  margin: -10px 20px 0 -10px; }
  .header-nogi::before {
    font-size: 1.2rem;
    bottom: -12px; }
  .header-nogi::after {
    font-size: 1.5rem; }

@media (max-width: 768px) {
  .header-nogi {
    width: 45px;
    height: 46px;
    margin: 0 10px 0 -10px; }
    .header-nogi::before {
      display: none; } }

.footer-nogi {
  width: 100px;
  height: 104px;
  margin: 0 auto 100px; }
  .footer-nogi::before {
    font-size: 2rem;
    bottom: -22px; }
  .footer-nogi::after {
    font-size: 2.5rem; }

@media (max-width: 768px) {
  .footer-nogi {
    margin: 0 auto 50px;
    width: 70px;
    height: 73px; } }

html {
  font-size: 62.5%;
  font-family: -apple-system, blinkMacSystemFont, "Helvetica Neue", "Segoe UI", YuGothicM, YuGothic, Meiryo, sans-serif;
  scroll-behavior: smooth; }

a {
  color: #333;
  text-decoration: none; }

.purple {
  color: #932993; }

.title {
  font-family: 'Bitter', serif;
  font-weight: 100; }

.main {
  padding-top: 60px;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }

@media screen and (max-width: 768px) {
  .main {
    padding-top: 30px; } }

.section {
  background: #fff;
  padding: 30px 0 40px; }
  .section .section-title {
    font-size: 9rem;
    letter-spacing: 3px;
    margin-bottom: 50px;
    color: #444;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 100; }

@media screen and (max-width: 768px) {
  .section {
    padding: 20px 0 30px; }
    .section .section-title {
      font-size: 5rem; } }

.header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .header .header-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 20px;
    padding: 10px 0; }
    .header .header-title-wrapper .header-title {
      text-align: left;
      font-size: 4rem;
      color: #444; }

@media screen and (max-width: 768px) {
  .header {
    padding: 10px 0;
    height: auto; }
    .header .header-title-wrapper .header-title {
      font-size: 3rem; } }

.intro-section {
  padding: 50px 0 100px; }
  .intro-section .section-title {
    font-size: 6rem; }
    .intro-section .section-title::first-letter {
      color: #932993;
      font-size: 13rem; }
  .intro-section p {
    width: 60%;
    margin: 0 auto 20px;
    color: #444;
    line-height: 1.4;
    letter-spacing: 1px;
    font-size: 2.2rem;
    font-weight: 400; }
  .intro-section .purple {
    font-size: 3rem; }

@media screen and (max-width: 768px) {
  .intro-section {
    padding: 30px 0 40px; }
    .intro-section .section-title {
      font-size: 4rem; }
      .intro-section .section-title::first-letter {
        font-size: 5rem; }
    .intro-section p {
      width: 85%;
      font-size: 1.8rem; }
    .intro-section .purple {
      font-size: 2rem; } }

.disc-section .section-title {
  margin-bottom: 60px; }

.disc-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden; }
  .disc-section .wrapper .thum-list {
    height: 100%;
    width: 25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
  .disc-section .wrapper .detail {
    width: 69vw;
    height: 100%; }
    .disc-section .wrapper .detail .item {
      width: 100%;
      height: 100%;
      display: none; }
      .disc-section .wrapper .detail .item p {
        font-size: 2rem;
        font-weight: 900;
        color: #932993;
        margin-bottom: 20px; }
      .disc-section .wrapper .detail .item .title {
        color: #444;
        font-size: 4rem; }
      .disc-section .wrapper .detail .item .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        padding-top: 50px; }
        .disc-section .wrapper .detail .item .wrapper img {
          width: 45%;
          height: auto;
          margin-bottom: 50px; }
        .disc-section .wrapper .detail .item .wrapper ol {
          list-style-type: none;
          margin-left: 3vw; }
          .disc-section .wrapper .detail .item .wrapper ol li {
            margin-bottom: 2rem;
            font-size: 2.2rem; }
            .disc-section .wrapper .detail .item .wrapper ol li .info {
              color: #aaa;
              font-size: 1.8rem;
              font-weight: 400; }
      .disc-section .wrapper .detail .item.is-active {
        display: block;
        -webkit-animation: fade .6s;
        animation: fade .6s; }

.disc-section .thum-list .thum {
  margin: 3vh 0;
  width: 12vh;
  height: auto;
  position: relative; }

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(10vh);
    transform: translateX(10vh); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateX(10vh);
    transform: translateX(10vh); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@media screen and (max-width: 768px) {
  .disc-section .section-title {
    font-size: 4.5rem;
    margin-bottom: 20px; }
  .disc-section .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .disc-section .wrapper .thum-list {
      width: 100%;
      height: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .disc-section .wrapper .thum-list .thum {
        width: 8vh;
        margin: 0 20px; }
    .disc-section .wrapper .detail {
      width: 100%;
      height: auto; }
      .disc-section .wrapper .detail .item p {
        font-size: 2rem;
        text-align: center; }
      .disc-section .wrapper .detail .item .title {
        font-size: 2.2rem; }
        .disc-section .wrapper .detail .item .title .purple {
          color: #932993;
          font-size: 3.5rem; }
      .disc-section .wrapper .detail .item .wrapper {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 10px; }
        .disc-section .wrapper .detail .item .wrapper img {
          width: 38%;
          margin-bottom: 20px; }
        .disc-section .wrapper .detail .item .wrapper ol {
          margin: 0; }
          .disc-section .wrapper .detail .item .wrapper ol li {
            font-size: 1.6rem; } }

.contents-section {
  margin: 0 auto;
  padding-top: 50px;
  background: #222;
  /**
  ** news-container
  ** container-2とcontainer-3で.newsを囲んでflexで横並びにする
  **/ }
  .contents-section .section-title {
    color: #fff; }
  .contents-section .contents {
    display: block;
    background: #932993;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    border: 1px solid #222; }
    .contents-section .contents:hover {
      opacity: .6; }
    .contents-section .contents img {
      width: 100%; }
    .contents-section .contents .contents-wrapper {
      padding: 30px 50px; }
      .contents-section .contents .contents-wrapper .title-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-indent: none; }
        .contents-section .contents .contents-wrapper .title-wrapper .contents-title {
          font-size: 2.8rem;
          text-decoration: underline; }
        .contents-section .contents .contents-wrapper .title-wrapper time {
          font-size: 2rem; }
          .contents-section .contents .contents-wrapper .title-wrapper time:before {
            content: "\f017";
            font-family: "Font Awesome 5 Free";
            margin-right: 10px; }
      .contents-section .contents .contents-wrapper .contents-text {
        font-size: 2rem;
        line-height: 1.6;
        width: 95%;
        margin: 20px auto 12px;
        text-indent: .7rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden; }
  .contents-section .contents-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
    max-width: 1500px;
    margin: 0 auto; }
  .contents-section .container-2 .contents {
    width: 50%; }
    .contents-section .container-2 .contents img {
      height: 52%; }
    .contents-section .container-2 .contents .contents-wrapper {
      padding: 20px 0 10px; }
      .contents-section .container-2 .contents .contents-wrapper .title-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contents-section .container-2 .contents .contents-wrapper .title-wrapper .contents-title {
          margin-bottom: 10px; }
      .contents-section .container-2 .contents .contents-wrapper .contents-text {
        -webkit-line-clamp: 4;
        width: 80%; }
  .contents-section .container-4 .contents img {
    height: 52%; }
  .contents-section .container-4 .contents .contents-wrapper {
    padding: 10px 20px; }
    .contents-section .container-4 .contents .contents-wrapper .title-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contents-section .container-4 .contents .contents-wrapper .title-wrapper .contents-title {
        font-size: 1.8rem;
        line-height: 1.4;
        margin-bottom: 1rem; }
    .contents-section .container-4 .contents .contents-wrapper .contents-text {
      font-size: 1.8rem; }

@media screen and (max-width: 768px) {
  .contents-section .contents {
    width: 85%; }
    .contents-section .contents img {
      height: 100%; }
    .contents-section .contents .contents-wrapper {
      padding: 15px 0; }
      .contents-section .contents .contents-wrapper .title-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .contents-section .contents .contents-wrapper .title-wrapper .contents-title {
          font-size: 2.5rem;
          text-align: center;
          margin-bottom: 20px; }
        .contents-section .contents .contents-wrapper .title-wrapper time {
          font-size: 1.8rem; }
      .contents-section .contents .contents-wrapper .contents-text {
        font-size: 1.5rem; }
  .contents-section .container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contents-section .container-2 .contents {
      width: 100%; }
    .contents-section .container-2 .contents-text {
      font-size: 1.2rem; }
  .contents-section .container-4 {
    display: none; } }

.member-section {
  padding: 30px 50px 0px;
  background: rgba(147, 41, 147, 0.5); }
  .member-section-title {
    color: #fff; }
  .member-section .flex {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 10px;
    overflow: hidden; }
    .member-section .flex .member {
      display: block;
      width: 24%;
      position: relative; }
      .member-section .flex .member .member-img {
        width: 100%; }
      .member-section .flex .member .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(147, 41, 147, 0.4);
        opacity: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .member-section .flex .member .mask p {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          text-align: center;
          color: #fff;
          font-size: 2.5rem;
          letter-spacing: 3px; }
      .member-section .flex .member:hover .mask {
        opacity: 1; }

.footer {
  position: relative;
  padding: 150px 10vw 100px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, rgba(147, 41, 147, 0.5)), color-stop(50%, rgba(147, 41, 147, 0.8)));
  background: -webkit-linear-gradient(top, rgba(147, 41, 147, 0.5) 8%, rgba(147, 41, 147, 0.8) 50%);
  background: -o-linear-gradient(top, rgba(147, 41, 147, 0.5) 8%, rgba(147, 41, 147, 0.8) 50%);
  background: linear-gradient(to bottom, rgba(147, 41, 147, 0.5) 8%, rgba(147, 41, 147, 0.8) 50%);
  color: #ddd; }
  .footer .footer-title {
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    margin: 50px 0; }
  .footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .footer .wrapper .list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer .wrapper .list-title {
      margin-bottom: 10px;
      font-size: 3rem;
      font-weight: 400; }
    .footer .wrapper ul {
      margin-left: 10px;
      list-style: none; }
      .footer .wrapper ul li {
        margin-bottom: 15px; }
        .footer .wrapper ul li a {
          color: #ddd;
          font-size: 1.8rem;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
          .footer .wrapper ul li a:hover {
            color: orange; }
  .footer .copyright {
    position: absolute;
    font-size: 2rem; }

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 0 50px; }
    .footer .footer-title {
      width: 80%;
      margin: 50px auto 25px;
      font-size: 3rem;
      line-height: 1.4; }
    .footer .wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
      border: 1px solid red; }
      .footer .wrapper .list {
        margin-bottom: 15px; }
      .footer .wrapper .list-title {
        font-size: 2rem;
        margin-bottom: 10px; }
      .footer .wrapper ul li {
        margin-bottom: 5px;
        line-height: 1.8; }
        .footer .wrapper ul li a {
          font-size: 1.5rem; } }

.btn {
  margin: 30px auto 0;
  background: #932993;
  padding: 10px 0 18px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn:hover {
    background: rgba(147, 41, 147, 0.8); }
  .btn a {
    color: #fff;
    font-size: 2.8rem;
    display: block;
    text-align: center; }

.contents-btn {
  width: 85%;
  max-width: 1500px; }

.member-btn {
  width: 80%; }

@media (max-width: 768px) {
  .menu-btn {
    top: 3.1%;
    right: 10px; }
    .menu-btn::before {
      font-size: 1.6rem; }
  .member-section {
    padding: 10px 5px 20px; }
    .member-section .flex {
      width: 95%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      max-height: none;
      margin: 0 auto; }
      .member-section .flex .member {
        width: 45%;
        margin-bottom: 10px; }
  .btn {
    margin: 10px auto;
    padding: 5px 0 10px; }
    .btn a {
      font-size: 1.4rem;
      letter-spacing: 3px; } }

.sa {
  opacity: 0;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease; }

.sa.show {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

.sa--lr {
  -webkit-transform: translate(-100px, 0);
  -ms-transform: translate(-100px, 0);
  transform: translate(-100px, 0); }

.sa--rl {
  -webkit-transform: translate(100px, 0);
  -ms-transform: translate(100px, 0);
  transform: translate(100px, 0); }

.sa--up {
  -webkit-transform: translate(0, 200px);
  -ms-transform: translate(0, 200px);
  transform: translate(0, 200px); }

.hoge {
  height: 100px;
  width: 100%;
  background-color: #000; }
