@charset "UTF-8";

//リセット
@import "./import/reset";

//ドロワーメニュー
@import "import/drawer";

//カルーセル
@import "import/carousel";

//変数
@import "import/variables";

@import "import/global-nav";

@import "import/logo";

html {
  font-size: 62.5%;
  font-family:-apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
    'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
    'Segoe UI',       /* Windowsの欧文 */
    YuGothicM,        /* Windows8.1以上は游ゴシック */
    YuGothic,         /* Macの游ゴシック */
    Meiryo,           /* 游ゴシックが入っていないWindows */
    sans-serif;
  scroll-behavior: smooth;
}

a {
  color: #333;
  text-decoration: none;
}

.title {
  font-family: 'Bitter', serif;
}

.main {
  padding-top: 60px;
  transition-property: all;
  transition-delay: .3s;
  transition-duration: .5s;
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 30px;
  }
}

.section {
  background: #fff;
  padding: 30px 0 40px;

  .section-title {
    font-size: 9rem;
    letter-spacing: 3px;
    margin-bottom: 50px;
    color: #444;
    text-align: center;
    font-family: "Montserrat","游ゴシック",YuGothic;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 20px 0 30px;

    .section-title {
      font-size: 5rem;
    }
  }
}

.header {
  align-items: center;
  position: relative;

  .header-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 10px 0;

    .header-title {
      text-align: left;
      font-size: 4rem;
      color: #444;
    }
  } //header-title-wrapper
} //header

@media screen and (max-width: 768px) {
  .header {
    padding: 10px 0;
    height: auto;

    .header-title-wrapper {
      .header-title {
        font-size: 3rem;
      }
    }
  }
}

.intro-section {
  padding: 50px 0 100px;

  .section-title {
    font-size: 6rem;
    &::first-letter {
      color: $main-color;
      font-size: 13rem;
    }
  }

  p {
    width: 60%;
    margin: 0 auto 20px;
    color: #444;
    line-height: 1.4;
    letter-spacing: 1px;
    font: {
      size: 2.2rem;
      weight: 400;
    }
  }
  .em {
    color: $main-color;
    font-size: 3.5rem;
    font-style: normal;
  }
} //intro-section

@media screen and (max-width: 768px) {
  .intro-section {
    padding: 20px 0 40px;

    .section-title {
      font-size: 3.5rem;
      &::first-letter {
        font-size: 5rem;
      }
    }

    p {
      width: 90%;
      font-size: 1.9rem; 
    }

    .em {
      font-size: 2.5rem; 
    }
  }
}

.contents-section {
  margin: 0 auto;
  padding-top: 50px;
  background: #222;

  .section-title {
    color: #fff;
  }

  .contents {
    display: block;
    background: $main-color;
    transition: .3s;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #222;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
    &:hover {
      opacity: .6;
    }
    img {
      width: 100%;
      @media screen and (max-width: 768px) {
        height: 100%;
      }
    }
    .contents-wrapper {
      padding: 30px 50px;
      @media screen and (max-width: 768px) {
        padding: 15px 0 15px;
      }
      .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-indent: none;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }
        .contents-title {
          font-size: 2.8rem;
          text-decoration: underline;
          @media screen and (max-width: 768px) {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 20px;
          }
        }
        time {
          font-size: 2rem;
          &:before {
            content: "\f017";
            font-family: "Font Awesome 5 Free";
            margin-right: 10px;
          }
          @media screen and (max-width: 768px) {
            font-size: 1.8rem;
          }
        }
      } //title-wrapper

      .contents-text {
        font-size: 2rem;
        line-height: 1.6;
        width: 95%;
        margin: 20px auto 12px;
        text-indent: .7rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;

        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    } //news-wrapper
  } //news

  /**
  ** news-container
  ** container-2とcontainer-3で.newsを囲んでflexで横並びにする
  **/
  .contents-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }

  .container-2 {
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .contents {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      img {
        height: 52%;
      }
      .contents-wrapper {
        padding: 20px 0 10px;
        .title-wrapper {
          flex-direction: column;
          .contents-title {
            margin-bottom: 10px;
          }
        } //title-wrapper
        .contents-text {
          -webkit-line-clamp: 4;
          @media screen and (max-width: 768px) {
            font-size: 1.2rem;
            //max-height: 80px;
            //text-overflow: ellipsis;
            padding: 10px 0;
          }
        }
      } //news-wrapper
    } //news
  } //container-2

  .container-4 {
    @media screen and (max-width: 768px) {
      display: none;
    }
    .contents {
      img {
        height: 52%;
      }
      .contents-wrapper {
        padding: 10px 20px;
        .title-wrapper {
          flex-direction: column;
          .contents-title {
            font-size: 1.8rem;
            line-height: 1.4;
            margin-bottom: 1rem;
          }
        }
        .contents-text {
          font-size: 1.8rem;
        }
      } //news-wrapper
    } //news
  } //container-4
} //news-section

.disco-section {
  background: $main-color;
}
.member-section {
  padding: 30px 50px 40px;
  background: $main-color2;
  &-title {
    color: #fff;
  }
  .flex {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    overflow: hidden;
    .member {
      display: block;
      width: 24%;
      position: relative;
      .member-img {
        width: 100%;
      }
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(147,41,147,.4);
        opacity: 0;
        transition: .3s;
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          text-align: center;
          color: #fff;
          font-size: 2.5rem;
          letter-spacing: 3px;
        }
      } //mask
      &:hover .mask {
        opacity: 1;
      }
    } //member
  } //flex
} //member-section

.btn {
  margin: 30px auto;
  background: $main-color;
  padding: 10px 0 18px;
  transition: .3s;
  &:hover {
    background: $main-color-hover;
  }
  a {
    color: #fff;
    font-size: 2.8rem;
    display: block;
    text-align: center;
  }
}

.news-btn {
  width: 80%;
}

.member-btn {
  width: 80%;
}

@media (max-width: 768px) {
  .menu-btn {
    top: 3.1%;
    right: 10px;
    &::before {
      font-size: 1.6rem;
    }
  }
  .member-section {
    padding: 10px 5px 20px;
    .flex {
      width: 95%;
      flex-wrap: wrap;
      max-height: none;
      margin: 0 auto;
      .member {
        width: 45%;
        margin-bottom: 10px;
      }
    }
  }
  .btn {
    margin: 10px auto;
    padding: 5px 0 10px;
    a {
      font-size: 1.4rem;
      letter-spacing: 3px;
    }
  }
} //media
.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .thum-list {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .detail {
    width: 69vw;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;

    .thum-list {
      width: 100%;
      height: auto;
      flex-direction: row;
    }
    .detail {
      width: 100%;
      height: auto;
    }
  }
}

.thum-list {
  .thum {
    margin: 3vh 0;
    width: 20vh;
    height: auto;
    position: relative;
    //z-index: 3;
  }
}

@media screen and (max-width: 768px) {
  .thum-list {
    .thum {
      width: 10vh;
    }
  }
}

.detail {
  .item {
    width: 100%;
    height: 100%;
    display: none;

    .wrapper {
      display: flex;
      align-items: center; 

      img {
        margin-top: 100px;
        width: 45%;
        height: auto;
        border: 1px solid red;
        margin-bottom: 50px;
      }
      ol {
        list-style-type: none;
        border: 1px solid red;
      }
    }

    &.is-active {
      display: block;
      animation: fade .6s;
    }

  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(10vh);
  }
  to {
    transform: translateX(0);
  }
}