@charset "UTF-8";

//リセット
@import "./import/reset";

//ドロワーメニュー
@import "import/drawer";

//カルーセル
@import "import/carousel";

//変数
@import "import/variables";

@import "import/global-nav";

@import "import/logo";

html {
  font-size: 62.5%;
  font-family:-apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
    'Helvetica Neue', /* Macの欧文 (OS X 10.10以前) */
    'Segoe UI',       /* Windowsの欧文 */
    YuGothicM,        /* Windows8.1以上は游ゴシック */
    YuGothic,         /* Macの游ゴシック */
    Meiryo,           /* 游ゴシックが入っていないWindows */
    sans-serif;
  scroll-behavior: smooth;
}

a {
  color: #333;
  text-decoration: none;
}

.purple {
  color: $main-color;
}

.title {
  font-family: 'Bitter', serif;
  font-weight: 100;
}

.main {
  padding-top: 60px;
  transition-property: all;
  transition-delay: .3s;
  transition-duration: .5s;
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 30px;
  }
}

.section {
  background: #fff;
  padding: 30px 0 40px;

  .section-title {
    font-size: 9rem;
    letter-spacing: 3px;
    margin-bottom: 50px;
    color: #444;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 100;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 20px 0 30px;

    .section-title {
      font-size: 5rem;
    }
  }
}

.header {
  align-items: center;
  position: relative;

  .header-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 10px 0;

    .header-title {
      text-align: left;
      font-size: 4rem;
      color: #444;
    }
  } //header-title-wrapper
} //header

@media screen and (max-width: 768px) {
  .header {
    padding: 10px 0;
    height: auto;

    .header-title-wrapper {
      .header-title {
        font-size: 3rem;
      }
    }
  }
}

.intro-section {
  padding: 50px 0 100px;

  .section-title {
    font-size: 6rem;
    &::first-letter {
      color: $main-color;
      font-size: 13rem;
    }
  }

  p {
    width: 60%;
    margin: 0 auto 20px;
    color: #444;
    line-height: 1.4;
    letter-spacing: 1px;
    font: {
      size: 2.2rem;
      weight: 400;
    }
  }

  .purple {
    font-size: 3rem;
  }
} //intro-section

@media screen and (max-width: 768px) {
  .intro-section {
    padding: 30px 0 40px;

    .section-title {
      font-size: 4rem;
      &::first-letter {
        font-size: 5rem;
      }
    }

    p {
      width: 85%;
      font-size: 1.8rem; 
    }

    .purple {
      font-size: 2rem; 
    }
  }
}

.disc-section {
  .section-title {
    margin-bottom: 60px;
  }
  .wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;

    .thum-list {
      height: 100%;
      width: 25vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
    }

    .detail {
      width: 69vw;
      height: 100%;

      .item {
        width: 100%;
        height: 100%;
        display: none;

        p {
          font-size: 2rem;
          font-weight: 900;
          color: $main-color;
          margin-bottom: 20px;
        }

        .title {
          color: #444;
          font-size: 4rem;
        }

        .wrapper {
          display: flex;
          align-items: start; 
          padding-top: 50px;

          img {
            width: 45%;
            height: auto;
            margin-bottom: 50px;
          }
          ol {
            list-style-type: none;
            margin-left: 3vw;

            li {
              margin-bottom: 2rem;
              font-size: 2.2rem;

              .info {
                color: #aaa;
                font-size: 1.8rem;
                font-weight: 400;
              }
            }
          }
        }

        &.is-active {
          display: block;
          animation: fade .6s;
        }
      }
    }
  } //wrapper

  .thum-list {
    .thum {
      margin: 3vh 0;
      width: 12vh;
      height: auto;
      position: relative;
      //z-index: 3;
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateX(10vh);
    }
    to {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .disc-section {
    .section-title {
      font-size: 4.5rem;
      margin-bottom: 20px;
    }
    .wrapper {
      flex-direction: column;

      .thum-list {
        width: 100%;
        height: auto;
        flex-direction: row;
        .thum {
          width: 8vh;
          margin: 0 20px;
        }
      }
      .detail {
        width: 100%;
        height: auto;

        .item {
          p {
            font-size: 2rem;
            text-align: center;
          }
          .title {
            font-size: 2.2rem;
            .purple {
              color: $main-color;
              font-size: 3.5rem;
            }
          }
          .wrapper {
            align-items: center;
            padding-top: 10px;

            img {
              width: 38%;
              margin-bottom: 20px;
            }
            ol {
              margin: 0;
              li {
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
} //media

.contents-section {
  margin: 0 auto;
  padding-top: 50px;
  background: #222;

  .section-title {
    color: #fff;
  }

  .contents {
    display: block;
    background: $main-color;
    transition: .3s;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    border: 1px solid #222;
    &:hover {
      opacity: .6;
    }

    img {
      width: 100%;
    }

    .contents-wrapper {
      padding: 30px 50px;

      .title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-indent: none;

        .contents-title {
          font-size: 2.8rem;
          text-decoration: underline;
        }
        time {
          font-size: 2rem;
          &:before {
            content: "\f017";
            font-family: "Font Awesome 5 Free";
            margin-right: 10px;
          }
        }
      } //title-wrapper

      .contents-text {
        font-size: 2rem;
        line-height: 1.6;
        width: 95%;
        margin: 20px auto 12px;
        text-indent: .7rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    } //news-wrapper
  } //contents

  /**
  ** news-container
  ** container-2とcontainer-3で.newsを囲んでflexで横並びにする
  **/
  .contents-container {
    display: flex;
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
  }

  .container-2 {

    .contents {
      width: 50%;

      img {
        height: 52%;
      }
      .contents-wrapper {
        padding: 20px 0 10px;

        .title-wrapper {
          flex-direction: column;

          .contents-title {
            margin-bottom: 10px;
          }
        } //title-wrapper

        .contents-text {
          -webkit-line-clamp: 4;
          width: 80%;
        }
      } //news-wrapper
    } //news
  } //container-2

  .container-4 {

    .contents {

      img {
        height: 52%;
      }

      .contents-wrapper {
        padding: 10px 20px;
        .title-wrapper {
          flex-direction: column;
          .contents-title {
            font-size: 1.8rem;
            line-height: 1.4;
            margin-bottom: 1rem;
          }
        }
        .contents-text {
          font-size: 1.8rem;
        }
      } //news-wrapper
    } //news
  } //container-4
} //contents-section

@media screen and (max-width: 768px) {
  .contents-section {
    .contents {
      width: 85%;

      img {
        height: 100%;
      }

      .contents-wrapper {
        padding: 15px 0;

        .title-wrapper {
          flex-direction: column;

          .contents-title {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 20px;
          }
          time {
            font-size: 1.8rem;
          }
        } // title-wrapper

        .contents-text {
          font-size: 1.5rem;
        }
      }
    }

    .container-2 {
      flex-direction: column;
      .contents {
        width: 100%;
      }
      .contents-text {
        font-size: 1.2rem;
      }
    }

    .container-4 {
      display: none;
    }

  }
}

.member-section {
  padding: 30px 50px 0px;
  background: $main-color2;
  &-title {
    color: #fff;
  }
  .flex {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    overflow: hidden;
    .member {
      display: block;
      width: 24%;
      position: relative;
      .member-img {
        width: 100%;
      }
      .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(147,41,147,.4);
        opacity: 0;
        transition: .3s;
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          text-align: center;
          color: #fff;
          font-size: 2.5rem;
          letter-spacing: 3px;
        }
      } //mask
      &:hover .mask {
        opacity: 1;
      }
    } //member
  } //flex
} //member-section

.footer {
  position: relative;
  padding: 150px 10vw 100px;
  background: linear-gradient(to bottom, $main-color2 8%, $main-color-hover 50%);
  color: #ddd;

  .footer-title {
    font-size: 7rem;
    font-weight: 400;
    text-align: center;
    margin: 50px 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;

    .list {
      display: flex;
      flex-direction: column;

    }
    .list-title {
      margin-bottom: 10px;
      font-size: 3rem;
      font-weight: 400;
    }

    ul {
      margin-left: 10px;
      list-style: none;
      li {
        margin-bottom: 15px;
        a {
          color: #ddd;
          font-size: 1.8rem;
          transition: .5s;

          &:hover {
            color: orange;
          }
        }
      }
    }
  }
  .copyright {
    position: absolute;
    font-size: 2rem;
    a {
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 0 50px;

    .footer-title {
      width: 80%;
      margin: 50px auto 25px;
      font-size: 3rem;
      line-height: 1.4;;
    }

    .wrapper {
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
      border: 1px solid red;
      .list {
        margin-bottom: 15px;
      }
      .list-title {
        font-size: 2rem;
        margin-bottom: 10px;
      }

      ul {
        li {
          margin-bottom: 5px;
          line-height: 1.8;
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.btn {
  margin: 30px auto 0;
  background: $main-color;
  padding: 10px 0 18px;
  transition: .3s;
  &:hover {
    background: $main-color-hover;
  }
  a {
    color: #fff;
    font-size: 2.8rem;
    display: block;
    text-align: center;
  }
}

.contents-btn {
  width: 85%;
  max-width: 1500px;
}

.member-btn {
  width: 80%;
}

@media (max-width: 768px) {
  .menu-btn {
    top: 3.1%;
    right: 10px;
    &::before {
      font-size: 1.6rem;
    }
  }
  .member-section {
    padding: 10px 5px 20px;
    .flex {
      width: 95%;
      flex-wrap: wrap;
      max-height: none;
      margin: 0 auto;
      .member {
        width: 45%;
        margin-bottom: 10px;
      }
    }
  }
  .btn {
    margin: 10px auto;
    padding: 5px 0 10px;
    a {
      font-size: 1.4rem;
      letter-spacing: 3px;
    }
  }
} //media

.sa {
  opacity: 0;
  transition: all .8s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-100px, 0);
}

.sa--rl {
  transform: translate(100px, 0);
}

.sa--up {
  transform: translate(0, 200px);
}

.hoge {
  height: 100px;
  width: 100%;
  background-color: #000;;
}