* {
  margin: 0;
  padding: 0;
}
// 変数
@import "./import/variables";

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #24C6DC;
  background: -webkit-linear-gradient(to left, $top-main-color1, $top-main-color2); 
  background: linear-gradient(to left bottom, $top-main-color1, $top-main-color2);
  overflow: hidden;

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 50px inset rgba($top-main-color1, .3);
  }

  .circle1 {
    width: 78vh;
    height: 78vh;
    border-radius: 50% 50% 50% 53%/50% 50% 55% 55%;
    animation: circleAnimation1 20s linear infinite,
               opacity 4s forwards;
    border: 200px solid rgba(160, 180, 240, 0.05);
    @media screen and (max-width: 768px) {
      width: 48vh;
      height: 48vh;
      border: 40px solid rgba(160, 180, 240, 0.1);
    }
  }

  .circle2 {
    width: 90vh;
    height: 96vh;
    border-radius: 52% 50% 50% 50%/50% 50% 52% 50%;
    animation: circleAnimation2 15s linear infinite,
               opacity 6s forwards;
    border: 190px solid rgba(160, 180, 240, 0.05);
    @media screen and (max-width: 768px) {
      width: 45vh;
      height: 45vh;
      border: 80px solid rgba(160, 180, 240, 0.1);
    }
  }

  .circle3 {
    width: 85vh;
    height: 91vh;
    border-radius: 52% 50% 50% 50%/50% 50% 52% 50%;
    animation: circleAnimation1 23s linear infinite,
               opacity 10s forwards;
    border: 200px solid rgba(140, 160, 240, 0.05);
    @media screen and (max-width: 768px) {
      width: 45vh;
      height: 45vh;
      border: 80px solid rgba(160, 180, 240, 0.1);
    }
  }

  @keyframes circleAnimation1 {
    0% {
      transform: translate(-48%, -55%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -48%) rotate(180deg);
    }
    50% {
      transform: translate(-51%, -58%) rotate(360deg);
    }
    75% {
      transform: translate(-49%, -62%) rotate(180deg);
    }
    100% {
      transform: translate(-48%, -55%) rotate(0deg)
    }
  }

  @keyframes circleAnimation2 {
    0% {
      transform: translate(-59%, -53%) rotate(0deg)
    }
    25% {
      transform: translate(-50%, -51%) rotate(180deg);
    }
    50% {
      transform: translate(-51%, -55%) rotate(360deg);
    }
    75% {
      transform: translate(-49%, -59%) rotate(180deg);
    }
    100% {
      transform: translate(-59%, -52%) rotate(0deg)
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Helvetica , "游ゴシック", sans-serif;
    width: 100%;
    .header-title {
      font-size: 3rem;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 3vh;
    }
    .product-title {
      font-size: 8rem;
      text-align: center;
      width: 100%;
      margin-bottom: 6vh;
    }
    .text {
      font-size: 4.2rem;
      font-weight: 900;
      display: flex;
      justify-content: space-between;
      width: 40%;
      margin: 0 auto 15px;
      @media screen and (max-width: 768px) {
        font-size: 2.2rem;
        margin-bottom: 10px;
        width: 60%;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .text-wrapper {
      .header-title {
        width: 80%;
        font-size: 2rem;  
        margin: 0 auto 3vh;
        letter-spacing: 1px;
      }
      .product-title {
        font-size: 5rem;
      }
    }
  }
} // header

/*
.section {
  .section-wrapper {
    position: relative;
    max-width: 900px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      flex-direction: column;;
    }

    .introduction,
    .section-image {
      max-width: 600px;
    }

    .introduction {
      width: 50%;

      .inner {
        position: relative;

        .numbering {
          margin-bottom: 20px;
          font-size: 3rem;
          font-weight: 900;
          background: -webkit-linear-gradient(to right, $top-main-color2, $top-main-color1);
          background: linear-gradient(to right, $top-main-color2, $top-main-color1);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .section-title {
          margin-bottom: 30px;
          font-size: 3.3rem;
          color: #666;
        }

        p {
          width: 80%;
          color: #666;
          font-size: 1.8rem;
          line-height: 1.6;
        }
      } //inner
    } //introduction

    .section-image {
      padding-top: 100px;
      width: 50%;
      min-height: 60vh;
      .svg-image {
        width: 100%;
        height: 100%;
        background-size: 60%;
        background-position: top center;
        background-repeat: no-repeat;
      }
    }
  }
}
*/

.btn-wrapper {
  text-align: center;
  padding-bottom: 30px;
  a {
    display: inline-block;
    bottom: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 900;
    border-radius: 1px;
    padding: 16px 40px;
    background-image: -webkit-linear-gradient(to right, $top-main-color2, $top-main-color1);
    background-image: linear-gradient(to right, $top-main-color1, $top-main-color2, $top-main-color1); 
    background-size: 200%;
    background-position: right center;
    transition: .3s;

    &:hover {
      background-position: left center;
      transform: scale(1.05);
    }
  }
}
.contents-section {
  padding-top: 50px;
  .section-title {
    color: #888;
    font-size: 5rem;
    letter-spacing: 3px;
    text-align: center;
  }

  .section-wrapper {
    padding: 50px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;

    .introduction {
      position: relative;
      padding: 30px 50px;
      width: 50%;
      .numbering {
        font-size: 2.5rem;
        font-weight: 900;
        color: $top-main-color1;
      }
      .contents-title {
        font-size: 3rem;
        color: #444;
      }
      .text {
        color: #444;
        font-size: 1.8rem;
      }
    }

    .section-image {
      width: 50%;
      .svg-image {
        width: 100%;
        min-height: 50vh;
        background-size: 60%;
        background-position: top center;
        background-repeat: no-repeat;
      }
    }
  }

} //contents-section

.contents-section {
  .contents-01 {
    .section-wrapper {
      .introduction {
        background: #fff;
        border: 1px solid #eee;
        &::before,
        &::after {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
        }
        &::before {
          top: 8px;
          left: 8px;
          background: transparentize($top-main-color2, .3);
          z-index: -1;
        }
        &::after {
          top: 16px;
          left: 16px;
          background: transparentize($top-main-color1, .4);
          z-index: -2;
        }
      }
      .section-image {
        .svg-image {
          background-image: url(../svg/section1-bg.svg);
        }
      }
    }
  } // contents-01
  .contents-02 {
    background: linear-gradient(to right top, lighten(#b3d4fc, .5) 10%, #fff 70%);
    .section-wrapper {
      flex-direction: row-reverse;
      .section-image {
        .svg-image {
          background-image: url(../svg/section2-bg.svg);
          background-size: 75%;
        }
      }
    }
  }
} //contents-section

.sec3 {
  background-color: $top-main-color1;
  background-attachment: fixed;
  background-image: url(../svg/section3-bg.svg), linear-gradient(to right, $top-main-color1, $top-main-color2);
  display: flex;
  padding: 50px 0 30px;

  .section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    .introduction {
      margin: 0 auto;
      width: 70%;
      max-width: 1500px;
      background-image: linear-gradient(to right, rgba(255,255,255,.7), rgba(255, 255, 255, .1));

      .inner {
        padding: 5% 10% 5% 5%;

        .section-title {
          color: $top-sub-color2;
          font-size: 3rem;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 10px;
          font-size: 2rem;
          width: 100%;
        color: #444;
        }
      }
    }

  .btn-wrapper {
    margin-top: 30px;
    margin-bottom: 0;
    a {
      background-image: -webkit-linear-gradient(to right, $top-sub-color2, $top-main-color1);
      background-image: linear-gradient(to right, $top-sub-color1, $top-sub-color2, $top-sub-color1); 

      &:hover {
        background-position: left center;
        transform: scale(1.05);
      }
    }
  }
  }
}

.sec4 {
  position: relative;

  .box-wrapper {
    display: flex;
    background: #ddd;
  }
  .box {
    border: 1px solid red;
    width: 30%;
    .svg-image {
      height: 240px;
      background-size: 60%;
      background-position: top center;
      background-repeat: no-repeat;
    }

    .image-01 {
      background-image: url(../svg/section4-01.svg);
    }
    .image-02 {
      background-image: url(../svg/section4-02.svg);
    }
    .image-03 {
      background-image: url(../svg/section4-03.svg);
    }
  }

  #js-sec4 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .paid-member,
  .free-member {
    width: 25%;
    padding: 2rem 3rem;
    z-index: 1;
    color: #fff;
    text-align: center;
    .icon {
      height: 100px;
      width: 100%;
      background-image: url(../svg/section4-free.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20%;
    }
    .title {
      font-size: 2rem;
      font-weight: 400;
    }
    .fee {
      font-size: 2.4rem;
      margin: 20px 0;
      span {
        display: inline-block;
        font-size: 7rem;
        margin: 0 10px;
      }
    }
    P {
      font-size: 2rem;
    }
    .btn {
      display: inline-block;
      padding: 10px 20px 10px 20px;
      margin-top: 20px;
      color: $top-main-color1;
      font-size: 1.6rem;
      letter-spacing: 2px;
      font-weight: 100;
      background: #fff;
    }
  }
  .introduction {
    width: 36%;
    background: #fff;
    z-index:1;
  }
  .paid-member {
    background: linear-gradient(-10deg, $top-main-color1, $top-main-color2);
    box-shadow: 0 0 5px $top-main-color2;
    margin: 0 3%;
  }
  .free-member {
    background: linear-gradient(to top, $top-sub-color2, $top-sub-color1);
    box-shadow: 0 0 5px $top-sub-color1;
  }
}