<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177277170-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177277170-1');
</script>

<link href="src/css/style.css" rel="stylesheet">
<link href="/common-src/fontawesome/css/all.min.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="IE=10">
<meta http-equiv="x-ua-compatible" content="IE=EmulateIE10">
<title>Sample3</title>
</head>
<body>

<header class="header" id="js-header">
	<div class="circle circle1"></div>
	<div class="circle circle2"></div>
	<div class="circle circle3"></div>

	<div class="text-wrapper">
		<h1 class="header-title">
			Sample Page 3
		</h1>
		<h2 class="product-title">
			Sample Web Service
		</h2>
		<p class="text">
			<span>静</span>
			<span>的</span>
			<span>ホ</span>
			<span>ス</span>
			<span>テ</span>
			<span>ィ</span>
			<span>ン</span>
			<span>グ</span>
		</p>
		<p class="text">
			<span>自</span>
			<span>動</span>
			<span>デ</span>
			<span>プ</span>
			<span>ロ</span>
			<span>イ</span>
		</p>
		<p class="text">
			<span>ロ</span>
			<span>ー</span>
			<span>ド</span>
			<span>バ</span>
			<span>ラ</span>
			<span>ン</span>
			<span>シ</span>
			<span>ン</span>
			<span>グ</span>
		</p>
	</div>
</header>

<section class="section contents-section">
	<h2 class="section-title">Contents</h2>

	<section class="contents-01">
		<div class="section-wrapper">
			<div class="introduction">
				<div class="numbering">01</div>
				<h2 class="title contents-title">CSS Animation & Tips</h2>
				<p class="text">ああああああああああああああああ</p>
			</div> <!-- introduction -->

			<div class="section-image">
				<div class="svg-image"></div>
			</div>
		</div>
		<a href="#" class="link-btn">詳しく見る</a>
	</section><!-- congtents-01 -->

	<section class="section sec2">
		<div class="section-wrapper">
			<div class="introduction">
				<div class="inner">
					<div class="numbering">02</div>
					<h2 class="title section-title">DataFinderサーバ<br>データ量</h2>
					<p>TDMSデータ量をグラフ化しました。(作成中)</p>
				</div>
				<a href="02/" class="link-btn">詳しく見る</a>
			</div>
			<div class="section-image">
				<div class="svg-image"></div>
			</div>
		</div>
	</section>

	<section class="section sec3">
		<div class="section-wrapper">
			<div class="introduction">
				<div class="inner">
					<span class="numbering">03</span>
					<h2 class="title section-title">WEBサイト ブックマーク</h2>
					<p>会社勤めの自動販売機が誕生するだろうが、女の兄弟である探偵はカップと相性がよくない。</p>
						<p>家電製品が金平糖のことを知る時、空想の金のシャチホコが干からびた原子核にとって代わるのかも知れない。</p>
				</div>
			</div>
			<a href="01/ip-address/" class="link-btn">詳しく見る</a>
		</div>
	</section>

	<section class="section sec4">
		<div id="js-sec4"></div>

		<div class="wrapper">
			<div class="free-member">
				<div class="icon"></div>
				<p class="title">無料会員</p>
				<p class="fee">\<span>0</span>/月</p>
				<a href="#" class="btn">無料で試す！</a>
			</div>

			<div class="paid-member">
				<div class="icon"></div>
				<p class="title">無料会員</p>
				<p class="fee">\<span>980</span>/月</p>
			</div>
			<div class="introduction">
				jfoagrjpgajr
			</div>
		</div>
	</section>

	</main>

	<script src="./src/js/particles.js/particles.min.js"></script>
	<script src="./src/js/particles.js/config/admin-top.js"></script>
	<script src="./src/js/particles.js/config/admin-top-sec4.js"></script>
</body>
</html>