<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177277170-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177277170-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="css/style.css" rel="stylesheet">
  <link href="/fontawesome/css/all.min.css" rel="stylesheet">
  <title>CSS-Animation</title>
</head>

<body>
  <header class="header">
    <h1 class="header-title">CSS-Animation</h1>
    <a href="https://potsunen.info" class="link-btn">HOME</a>
  </header>

  <section class="top-section" style="margin-top: 50px">
    <p class="section-title">CSSで表現できるアニメーションです。何か思いついたら更新します。</p>
    <p class="section-title">各ボックスをクリックすると詳細ページへ飛びます。</p>
  </section>
  
  <section class="section">
    <div class="wrapper">

      <a class="boxes ani1" href="./01/">
        <p>#1 Slide up</p>
        <div class="mask">
          <p class="hoverme">Slide Up</p>
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
        </div>
      </a>

      <a class="boxes ani2" href="./02/">
        <p>#2 Beating heart</p>
        <i class="fas fa-heart"></i>
      </a>
      
      <div class="boxes">
      </div>
    </div>
  </section>

</body>
</html>