@import "../../scss/master";

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 50px;
  .fa-heart {
    font-size: 18rem;
    color: pink;
    animation: beating-heart-ani 1.2s infinite;
    transition: .3s;
  }
}

@media screen and (max-width: 768px) {
  .box {
    .fa-heart {
      font-size: 12rem;
    }
  }
}

@keyframes beating-heart-ani {
  from {
    transform: scale(1);
  }
  35% {
    transform: scale(1);
  }
  36% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  } 
  68% {
    transform: scale(1);
  }
  to {
    transform: scvale(1);
  }
}
