@import url("./reset.css");

:root {
  --main-color: #e7017a;
  --main-color2: #df4a1f;
  --bg-gradient: rgba(14, 24, 42, 0.99);
  --gradient-primary: var(--main-color) linear-gradient(91.78deg, var(--main-color) 2.57%, var(--main-color2) 96.33%);
  --gradient1: linear-gradient(315deg, #ffbc00, #ff0058);
  --gradient2: linear-gradient(315deg, #0575e6, #00f260);
}

html {
  font-size: 62.5%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Segoe UI",
    "Helvetica Neue",
    HelveticaNeue,
    YuGothic,
    "Yu Gothic Medium",
    "Yu Gothic",
    Verdana,
    Meiryo,
    sans-serif;
  scroll-behavior: smooth;
}
