.nav {
  background-image: linear-gradient(to right, var(--main-color), var(--main-color2));
  width: 100%;
  z-index: 2;
}

.navList {
  padding: 13px 0;
  width: unquote("max(50%, 324px)");
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  white-space: nowrap;
}

.navItem {
  a {
    color: #fff;
    font-size: clamp(15px, 1.4vw, 18px);
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .navList {
    justify-content: start;
  }

  .navItem {
    margin-right: 20px;
    font-weight: normal;
  }
}
