* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; }

.header {
  height: 30vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px; }
  .header .header-title {
    font-size: 5rem;
    color: #aaa;
    font-weight: 600;
    text-align: right;
    margin-right: 10vw; }
  .header .link-btn {
    text-align: left;
    color: #aaa;
    font-size: 2.5rem;
    margin-left: 10vw; }

@media screen and (max-width: 768px) {
  .header {
    height: 20vh;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border: 1px solid red; }
    .header .header-title {
      font-size: 3rem;
      text-align: center;
      margin: 0; }
    .header .link-btn {
      font-size: 1.8rem;
      margin: 0;
      text-align: center; } }

.main {
  width: 50%;
  margin: 0 0 0 10%;
  padding-top: 60px; }

@media screen and (max-width: 768px) {
  .main {
    width: 90%; } }

.top-section {
  min-height: 10vh; }
  .top-section > .top-title {
    text-align: center;
    color: #aaa;
    font-size: 4rem;
    font-weight: 100; }

@media screen and (max-width: 768px) {
  .top-section > .top-title {
    font-size: 3rem; } }

.section {
  margin-bottom: 50px; }
  .section > .section-title {
    color: #444;
    font-size: 3.5rem;
    border-left: 10px solid orange;
    padding-left: 20px;
    margin-bottom: 30px; }
  .section p {
    color: #444;
    font-size: 1.7rem;
    line-height: 1.8;
    letter-spacing: 1px;
    text-indent: .8rem;
    margin-bottom: 20px; }

@media screen and (max-width: 768px) {
  .section > .section-title {
    font-size: 2.8rem; } }

.img {
  max-width: 90%;
  margin: 0 auto 20px;
  height: auto; }
