* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; }

.header {
  position: relative;
  height: 25vh;
  text-align: right; }
  .header .header-title {
    line-height: 20vh;
    font-size: 6rem;
    margin-right: 10vw;
    color: #aaa;
    font-weight: 600;
    border: 1px solid red; }
  .header .link-btn {
    position: absolute;
    top: 15vh;
    left: 15vw;
    text-align: left;
    color: #aaa;
    font-size: 2.5rem;
    margin-left: 0; }

@media screen and (max-width: 768px) {
  .header {
    text-align: center; }
    .header .header-title {
      font-size: 3rem;
      margin: 0; } }

.main {
  width: 50%;
  margin: 0 auto;
  padding-top: 60px; }

.top-section {
  min-height: 10vh; }
  .top-section > .top-title {
    text-align: center;
    color: #aaa;
    font-size: 6rem;
    font-weight: 100; }

@media screen and (max-width: 768px) {
  .top-section > .top-title {
    font-size: 3rem; } }

.section {
  min-height: 10vh;
  margin-bottom: 50px; }
  .section > .section-title {
    color: #444;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 30px; }
  .section p {
    color: #444;
    font-size: 1.7rem;
    line-height: 1.8;
    letter-spacing: 1px;
    text-indent: .8rem;
    margin-bottom: 20px; }

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

@media screen and (max-width: 768px) {
  .wrapper {
    border: 1px solid red;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.box {
  width: 20vw;
  height: 20vw;
  border: 1.5px solid #ddd; }

@media screen and (max-width: 768px) {
  .box {
    width: 30vw;
    height: 30vw; } }

.ani1 {
  position: relative;
  overflow: hidden; }
  .ani1 .mask {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #323232;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s; }
    .ani1 .mask h3 {
      font-size: 1.8rem;
      font-weight: 900;
      line-height: 2.5; }
    .ani1 .mask p {
      font-size: 1rem; }
  .ani1:hover .mask {
    top: 0; }
