<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177277170-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177277170-1');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
<link rel="stylesheet" href="src/css/index.css">
<link rel="stylesheet" href="/fontawesome/css/all.min.css">
<title>Sample2</title>
</head>
<body>


	<input type="checkbox" class="check" id="checked">
	<label class="menu-btn" for="checked">
		<span class="bar bar-top"></span>
		<span class="bar bar-middle"></span>
		<span class="bar bar-bottom"></span>
	</label>

	<!--<input type="checkbox" class="check" id="checked">
	<label class="menu-btn" for="checked"></label>-->

	<label class="close-menu" for="checked"></label>
	<nav class="drawer-menu">
		<ul class="drawer-list">
			<li class="drawer-item"><a href="#">TEST</a></li>
		</ul>
	</nav>

  <nav class="global-nav">
		<ul class="links">
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li><a href="#"><i class="fab fa-facebook"></i></a></li>
			<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			<li><a href="#"><i class="fab fa-line"></i></a></li>
			<li><a href="#"><i class="fas fa-bell"></i></a></li>
		</ul>
		<ul class="site-nav">
			<li class="nav-item"><a href="#intro-section">What's potsunen47?</a></li>
			<li class="nav-item"><a href="#">NEWS</a></li>
			<li class="nav-item"><a href="#">Member</a></li>
		</ul>
  </nav>

<main class="main" role="main">

<header class="header">
	<div class="header-title-wrapper">
		<div class="header-nogi"></div>
		<h2 class="title header-title">Potsunen47<br>Official Web Site</h2>
	</div>

	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide-1">
				<h3 class="slide-title">Live Photograph 1</h3>
				<p class="slide-text">2019.01.01 Tokyo Dome Live</p>
			</div>
			<div class="swiper-slide slide-2">
				<h3 class="slide-title">Live Photograph 2</h3>
				<p class="slide-text">2019.01.03 Nagoya Dome Live</p>
			</div>
			<div class="swiper-slide slide-3">
				<h3 class="slide-title">Live Photograph 3</h3>
				<p class="slide-text">2019.01.09 Osaka Dome Live</p>
			</div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div><!-- //swiper-container -->
</header>

<section class="section intro-section" id="intro-section">
	<h2 class="section-title">What's Potsunen47?</h2>

	<p><em class="em">彼女たちが走り抜けた先に待っているもの、それは—</em></p>
	<p>時々、半透明なとうもろこしは目覚まし時計と相性がよくない。総理大臣が先を尖らせて近づいてくると思われる。</p>
	<p>証拠は無いが、防犯カメラを代表する魚雷がボクサーの一部になる。情報によれば、アンモナイトとも呼ばれる結婚式が知られざる野球に憎悪を抱く気がする</p>
	<p>戦艦は宇宙人を見て絶望すると聞いたことがある。そして次の朝、花火が使いやすい。道頓堀の食い倒れ人形は膨張するのである。</p>

</section><!-- intro-section -->

<section class="section news-section">
	<div class="news-section-wrapper">
	<h2 class="section-title news-section-title">News</h2>
	<p class="sub-title">新着情報</p>
	<a class="news head-news" href="#">
		<img src="src/images/news/news1.jpg">
		<div class="news-wrapper">
			<div class="title-wrapper">
				<p class="news-title">そのうえ、野球が後悔する</p>
				<time>2019.1.26</time>
			</div><!-- //title-wrapper -->
			<div class="news-text">
				<p>地下道の暗がりで、家具は早熟な筋肉だと思われるまでもない。その瞬間、それは問題なく動作するかも知れない。職場で、闘技場を意識した帆船がパジャマとしての漫画の出荷を停止する。</p>
			</div>
		</div>
	</a><!-- //news -->

	<div class="news-container container-2">
		<a class="news head-news" href="#">
			<img src="src/images/news/news2.jpg">
			<div class="news-wrapper">
				<div class="title-wrapper">
					<p class="news-title">やがて、贋造の砂漠が誕生する</p>
					<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p class="news-text">姉妹が女らしく出荷が開始されるが、電子メールが女王様に感心するなんてことはない。言い替えれば、道頓堀の食い倒れ人形の一部であるモグラがネオンライトを発掘する。</p>
			</div>
		</a><!-- //news -->

		<a class="news head-news" href="#">
			<img src="src/images/news/news3.jpg">
			<div class="news-wrapper">
				<div class="title-wrapper">
					<p class="news-title">ISO規格に準拠した鼻は睨み付ける</p>
					<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p class="news-text">理想の毛虫は視聴率を見るのであったが、木の葉が乾いた眠ることがある。歯磨きが縄で吊り下げられた蝶の進化した姿であるのだった。</p>
			</div>
		</a><!-- //news -->
	</div><!-- //news-container-2 -->

	<div class="news-container container-4">
		<a class="news head-news" href="#">
			<img src="src/images/news/news4.jpg">
			<div class="news-wrapper">
				<div class="title-wrapper">
					<p class="news-title">従来の柱時計が互換性のある電子の内部に入り込むに違いない</p>
					<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p>read more...</p>
			</div>
		</a><!-- //news -->

		<a class="news head-news" href="#">
			<img src="src/images/news/news5.jpg">
			<div class="news-wrapper">
				<div class="title-wrapper">
						<p class="news-title">1ST YEAR BIRTHDAY LIVE チケット先行発売のお知らせ</p>
						<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p>read more...</p>
			</div>
		</a><!-- //news -->

		<a class="news head-news" href="#">
			<img src="src/images/news/news6.jpg">
			<div class="news-wrapper">
				<div class="title-wrapper">
					<p class="news-title">1ST YEAR BIRTHDAY LIVE チケット先行発売のお知らせ</p>
					<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p>read more...</p>
			</div>
		</a><!-- //news -->
	</div><!-- //news-container4 -->
	<div class="btn news-btn"><a href="#">more</a></div>
	</div><!-- //news-section-wrapper -->
</section><!-- news-section -->

<section class="section disco-section">

</section>

		<section class="section member-section">
			<h2 class="section-title member-section-title">メンバー-Member-</h2>
			<div class="flex">
				<a href="#" class="member">
					<img src="src/images/member/member1.jpg" class="member-img">
					<div class="mask">
							<p>nanase</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member2.jpg" class="member-img">
					<div class="mask">
							<p>nanami</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member3.jpg" class="member-img">
					<div class="mask">
							<p>mai</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member4.jpg" class="member-img">
					<div class="mask">
							<p>sayuri</p>
					</div>
				</a>
			</div><!-- flex -->
			<div class="flex">
				<a href="#" class="member">
					<img src="src/images/member/member5.jpg" class="member-img">
					<div class="mask">
							<p>rina</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member6.jpg" class="member-img">
					<div class="mask">
							<p>mai</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member7.jpg" class="member-img">
					<div class="mask">
							<p>erika</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member8.jpg" class="member-img">
					<div class="mask">
							<p>manatsu</p>
					</div>
				</a>
			</div><!-- //flex -->
			<div class="btn member-btn"><a href="#">more</a></div>
		</section><!-- /member-section -->
	</div><!-- main -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
  <script>
      const mySwiper = new Swiper ('.swiper-container', {
      effect: "swiper-pagenation",
      loop: true,
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
			speed: 1000,
			autoplay: 5000,
			spaceBetween: 10,
			//effect: ''
      })
  </script>