<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177277170-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177277170-1');
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
<link rel="stylesheet" href="src/css/index.css">
<link rel="stylesheet" href="/fontawesome/css/all.min.css">
<title>Sample2</title>
</head>
<body>


	<input type="checkbox" class="check" id="checked">
	<label class="menu-btn" for="checked">
		<span class="bar bar-top"></span>
		<span class="bar bar-middle"></span>
		<span class="bar bar-bottom"></span>
	</label>

	<!--<input type="checkbox" class="check" id="checked">
	<label class="menu-btn" for="checked"></label>-->

	<label class="close-menu" for="checked"></label>
	<nav class="drawer-menu">
		<ul class="drawer-list">
			<li class="drawer-item"><a href="#">TEST</a></li>
		</ul>
	</nav>

  <nav class="global-nav">
		<ul class="links">
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li><a href="#"><i class="fab fa-facebook"></i></a></li>
			<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			<li><a href="#"><i class="fab fa-line"></i></a></li>
			<li><a href="#"><i class="fas fa-bell"></i></a></li>
		</ul>
		<ul class="site-nav">
			<li class="nav-item"><a href="#intro">What's potsunen47?</a></li>
			<li class="nav-item"><a href="#contents">CONTENTS</a></li>
			<li class="nav-item"><a href="#">Member</a></li>
		</ul>
  </nav>

<main class="main" role="main">

<header class="header">
	<div class="header-title-wrapper">
		<div class="header-nogi"></div>
		<h2 class="title header-title">Potsunen47<br>Official Web Site</h2>
	</div>

	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide-1">
				<h3 class="slide-title">Live Photograph 1</h3>
				<p class="slide-text">2019.01.01 Tokyo Dome Live</p>
			</div>
			<div class="swiper-slide slide-2">
				<h3 class="slide-title">Live Photograph 2</h3>
				<p class="slide-text">2019.01.03 Nagoya Dome Live</p>
			</div>
			<div class="swiper-slide slide-3">
				<h3 class="slide-title">Live Photograph 3</h3>
				<p class="slide-text">2019.01.09 Osaka Dome Live</p>
			</div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div><!-- //swiper-container -->
</header>

<section class="section intro-section" id="intro">
	<h2 class="section-title">What's Potsunen47?</h2>

	<p><em class="em">彼女たちが走り抜けた<strong>先</strong>に待っているもの、それは—</em></p>
	<p>時々、半透明なとうもろこしは目覚まし時計と相性がよくない。総理大臣が先を尖らせて近づいてくると思われる。厳密に言えば、ウィルスは最新鋭の警察官を搭載するのだろう。</p>
	<p>証拠は無いが、<em class="em">防犯カメラを代表する<strong>魚雷</strong></em>がボクサーの一部になる。情報によれば、アンモナイトとも呼ばれる結婚式が知られざる野球に憎悪を抱く気がする。</p>
	<p>戦艦は宇宙人を見て絶望すると聞いたことがある。そして次の朝、花火が使いやすい。道頓堀の食い倒れ人形は膨張するのであるが、青い教会が柱時計の血をすするかも知れない。</p>
	<p>軍手のような恐山が苦戦すると思われるが、その一方では、老婆の一部である草食系男子が飛行船にも似た満員電車に打ち負かされると同時に、恐るべき伊勢海老は危ない見込みである。</p>
	<p>よりによって、<em class="em">ダチョウにも似た木の葉</em>は思想を問い詰めるだろうし、海亀は洗濯機の独自規格であるニンジャに変身する気がした。</p>

</section><!-- intro-section -->

<section class="section contents-section" id="contents">

	<h2 class="section-title">Contents</h2>

	<a class="contents" href="https://potsunen-blog.netlify.app/GitAdvance/01/" target="_blank">
		<img src="src/images/news/news1.jpg">
		<div class="contents-wrapper">
			<div class="title-wrapper">
				<p class="contents-title">Git中級者を目指す</p>
				<time>2020.12.03</time>
			</div><!-- //title-wrapper -->
			<div class="contents-text">
				<p>Gitの入門書を読み終わった人向けの、さらなるステップへ進むためのGit講座です。</p>
				<p>例えば、「git rebaseを使いこなせるようになる」、「git logの出力結果を自分好みにカスタマイズする」、「.gitフォルダの中身を知る」といった題材を用意しています。</p>
			</div>
		</div>
	</a><!-- //news -->

	<div class="contents-container container-2">
		<a class="contents" href="https://potsunen-blog.netlify.app/HelloWeb/01/" target="_blank">
			<img src="src/images/news/news2.jpg">
			<div class="contents-wrapper">
				<div class="title-wrapper">
					<p class="contents-title">初めてのHTML & CSS</p>
					<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p class="contents-text">HTMLとCSSはIT技術の入門に最適だと考えています。これらの言語を用い簡単なWebページを作成し、Webページの仕組みを学びます。<br>環境構築で躓くことはありません。今すぐ始められます。</p>
			</div>
		</a><!-- //news -->

		<a class="contents" href="#">
			<img src="src/images/news/news3.jpg">
			<div class="contents-wrapper">
				<div class="title-wrapper">
					<p class="contents-title">Flexboxをマスターする</p>
					<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p class="contents-text">理想の毛虫は視聴率を見るのであったが、木の葉が乾いた眠ることがある。歯磨きが縄で吊り下げられた蝶の進化した姿であるのだった。</p>
			</div>
		</a><!-- //news -->
	</div><!-- //news-container-2 -->

	<div class="contents-container container-4">
		<a class="contents" href="#">
			<img src="src/images/news/news4.jpg">
			<div class="contents-wrapper">
				<div class="title-wrapper">
					<p class="contents-title">柱時計と互換性のある電子</p>
					<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p class="contents-text">実は、女はクォークの兄弟である雪だるまの秘密を知る予定である。</p>
			</div>
		</a><!-- //news -->

		<a class="contents" href="#">
			<img src="src/images/news/news5.jpg">
			<div class="contents-wrapper">
				<div class="title-wrapper">
						<p class="contents-title">伊勢海老とは似ても似つかない月</p>
						<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p>read more...</p>
			</div>
		</a><!-- //news -->

		<a class="contents" href="#">
			<img src="src/images/news/news6.jpg">
			<div class="contents-wrapper">
				<div class="title-wrapper">
					<p class="contents-title">新進気鋭の正義の味方</p>
					<time>2019.1.26</time>
				</div><!-- //title-wrapper -->
				<p>read more...</p>
			</div>
		</a><!-- //news -->
	</div><!-- //news-container4 -->
	<div class="btn contents-btn"><a href="#">more</a></div>
</section><!-- //news-section -->

		<section class="section member-section">
			<h2 class="section-title member-section-title">Member</h2>
			<div class="flex">
				<a href="#" class="member">
					<img src="src/images/member/member1.jpg" class="member-img">
					<div class="mask">
							<p>nanase</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member2.jpg" class="member-img">
					<div class="mask">
							<p>nanami</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member3.jpg" class="member-img">
					<div class="mask">
							<p>mai</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member4.jpg" class="member-img">
					<div class="mask">
							<p>sayuri</p>
					</div>
				</a>
			</div><!-- flex -->
			<div class="flex">
				<a href="#" class="member">
					<img src="src/images/member/member5.jpg" class="member-img">
					<div class="mask">
							<p>rina</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member6.jpg" class="member-img">
					<div class="mask">
							<p>mai</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member7.jpg" class="member-img">
					<div class="mask">
							<p>erika</p>
					</div>
				</a>
				<a href="#" class="member">
					<img src="src/images/member/member8.jpg" class="member-img">
					<div class="mask">
							<p>manatsu</p>
					</div>
				</a>
			</div><!-- //flex -->
			<div class="btn member-btn" style="border: 1px solid red"><a href="#">more</a></div>
		</section><!-- /member-section -->

		<section class="section">
  <div class="wrapper">

    <div class="thum-list">

      <img src="./src/images/disc/01.jpg" class="thum" data-id="one">
      <img src="./src/images/disc/02.jpg" class="thum" data-id="two">
      <img src="./src/images/disc/03.jpg" class="thum" data-id="three">

    </div><!-- thum-list -->

    <div class="detail">

      <div class="item is-active" id="one">
        <div class="wrapper">
          <img src="./src/images/disc/01.jpg">

          <ol>
            <li>死ぬまで愛して</li>
            <li>ギャラクティカ銀河</li>
          </ol>
        </div>
      </div>

      <div class="item" id="two">
        <div class="wrapper">
          <img src="./src/images/disc/02.jpg">
          0202020202020202
        </div>
      </div>

      <div class="item" id="three">
        <div class="wrapper">
          <img src="./src/images/disc/03.jpg">
          0303030303030303
        </div>
      </div>
    </div><!-- detail -->
	</section>
	
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga
	<p>gjisrjga

	</div><!-- main -->

  <script src="./src/js/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
  <script>
      const mySwiper = new Swiper ('.swiper-container', {
      effect: "swiper-pagenation",
      loop: true,
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
			speed: 1000,
			autoplay: 5000,
			spaceBetween: 10,
			//effect: ''
      })
  </script>