<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177277170-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177277170-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<link href="../css/style.css" rel="stylesheet">-->
  <link href="./css/style.css" rel="stylesheet">
  <link href="/code-prettify-master/src/prettify.css" rel="stylesheet">
  <link href="/fontawesome/css/all.min.css" rel="stylesheet">
  <title>#2 Beating heart | CSS Animation</title>
</head>

<body>
  <header class="header">
    <h1 class="header-title">CSS Animation</h1>
    <a href="../" class="link-btn">BACK</a>
  </header>

  <section class="top-section">
    <h2 class="top-title">#2 Beating heart</h2>

    <div class="box">
      <i class="fas fa-heart"></i>
    </div>
  
    <p>ドクンドクンと鼓動しているハートのアニメーションです。</p>
    <p>※注 ハートマークはFontAwesomeアイコンを利用しています。使用方法がわからない方は、こちらを参照ください。</p>
  </section>

  <div class="main-wrapper">

  <nav class="global-nav">
    <p><i class="far fa-clock"></i><time>2020/09/20</time></p>
    <p><i class="fas fa-sync"></i><time>2020/09/20</time></p>
    <ul class="nav">
      <li class="nav-item">
        <a href="#sec1">boxクラスとmaskクラスを用意する</a>
      </li>
    </ul> 
  </nav>

  <main class="main">

  <section class="section" id="sec1">
    <h2 class="section-title">boxクラスとmaskクラスを用意する</h2>

<pre class="prettyprint linenums">
<code>&lt;div class="box"&gt;
  ここがboxクラスです
  &lt;div class="mask"&gt;
    &lt;p class="slideUp"&gt;Slide Up&lt;/p&gt;
    &lt;p class="text"&gt;Lorem dolor ...略&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
</pre>

  </section>

  </main>

  <script src="/code-prettify-master/src/prettify.js"></script>
  <script src="/code-prettify-master/src/lang-css.js"></script>
  <script>prettyPrint()</script>
  </div><!-- main-wrapper -->

  </body>

</html>