<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177277170-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177277170-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="./css/style.css" rel="stylesheet">
  <link href="/fontawesome/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
  <title>Potsunen Portfolio Site</title>
</head>
<body>
  <header class="header">
    <h1 class="header-title">本サイトの構成</h1>
  </header>

  <img src="images/main.jpg">

  <br>

  <img src="images/blog.jpg">
  </section>

  <script src="js/fadein.js"></script>
</body>
</html>
