@import "./variables";

.check {
  display: none;
}

.drawer-menu {
  //display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(52, 52, 52, .9), rgba(67, 67, 67, .9));

  transform: translateX(-10vw); //少し左にずらしておく
  opacity: 0; //透明にしておく

  .drawer-list {
    padding-left: 50px;
    margin-top: 10vh;

    .drawer-item { 
      font-size: 3.8rem;
      color: #fff;
      text-align: left;
      margin-bottom: 18px;

      &:first-of-type {
        margin-bottom: 30px;
      }

      a {
        display: block;
        color: #fff;
        text-align: left;
        font-size: 1.8rem;
        transition: .6s;
        margin-left: 3px;
        &:hover {
          color: #444;
          background: #bbb;
          font-size: 1.6rem;
        }
      }
    } //drawer-item
  } //drawer-list
} //drawer-menu

.menu-btn {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 4;

  .bar {
    display: block;
    width: 35px;
    height: 3px;
    background: $main-color;
    border-radius: 3px;
    transition: .5s;
  }

  .bar-top {
    transform: translate(0);
    margin-bottom: 8px;
  }
  .bar-middle {
    margin-bottom: 8px;
  }
  &:hover .bar {
    background: orange;
  }
}

.check:checked ~ .drawer-menu {
  display: block;
  transition-delay: .1s;
  transform: none;
  opacity: 1;
  z-index: 3;
  transition-duration: .8s;
}

.check:checked ~ .menu-btn {
  .bar {
    background: #ddd;
  }
  .bar-top {
    transform:  translateY(20px) rotate(405deg);
  }
  .bar-middle {
    display: none;
  }
  .bar-bottom {
    transition-delay: .3s;
    transform: translateY(8px) rotate(-405deg);
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
