@import "./variables";

.nogi-base {
  background: linear-gradient(to bottom right, rgba(255, 255,255, 0) 50%, $main-color 50.3%) no-repeat bottom right/100% 100%;
  position: relative;
  font-family: 'Bitter', serif;
}
.nogi-before {
  position: absolute;
  right: 0;
  bottom: -30px;
  content: "potsunen";
  color: $main-color;
  font-size: 2rem;
  font-style: italic;
}

.nogi-after {
  content: "47";
  font: 80px/1em -webkit-pictograph;
  color: #fff;
  right: 4px;
  bottom: 2px;
  position: absolute;
}

//ロゴのベース
.header-nogi {
  @extend .nogi-base;
  width: 60px;
  height: 63px;
  margin: -10px 20px 0 -10px;
  &::before {
    @extend .nogi-before;
    font-size: 1.2rem;
    bottom: -12px;
  }
  &::after {
    @extend .nogi-after;
    font-size: 1.5rem;
  }
} //nogi

@media (max-width: 768px) {
  .header-nogi {
    width: 45px;
    height: 46px;
    margin: 0 10px 0 -10px;
    &::before {
      display: none;
    }
  }
}

.footer-nogi {
  @extend .nogi-base;
  width: 100px;
  height: 104px;
  margin: 0 auto 100px;
  &::before {
    @extend .nogi-before;
    font-size: 2rem;
    bottom: -22px;
  }
  &::after {
    @extend .nogi-after;
    font-size: 2.5rem;
  }
} //nogi

@media (max-width: 768px) {
  .footer-nogi {
    margin: 0 auto 50px;
    width: 80px;
    height: 83px;
  }
}