* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.header {
  position: relative;
  height: 25vh;
  text-align: right;

  .header-title {
    line-height: 20vh;
    font-size: 6rem;
    margin-right: 10vw;
    color: #aaa;
    font-weight: 600;
  }

  .link-btn {
    position: absolute;
    top: 15vh;
    left: 15vw;
    text-align: left;
    color: #aaa;
    font-size: 2.5rem;
    margin-left: 0;
  }
}

.main {
  width: 50%;
  margin: 0 auto;
  padding-top: 60px;
}

.top-section {
  min-height: 10vh;

  & > .top-title {
    text-align: center;
    color: #aaa;
    font-size: 6rem;
    font-weight: 100;
  }
}

.section {
  min-height: 10vh;
  margin-bottom: 50px;

  & > .section-title {
    color: #444;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    color: #444;
    font-size: 1.7rem;
    line-height: 1.8;
    letter-spacing: 1px;
    text-indent: .8rem;
    margin-bottom: 20px;
  }
}
