@charset "utf-8";

@import "./master";

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .wrapper {
    border: 1px solid red;
    justify-content: center;
  }
}

.boxes {
  width: 20vw;
  height: 20vw;
  border: 1.5px solid #ddd;
  border-radius: 2px;
  transition: .3s;
  &:hover {
    border: 1.5px solid orange;
  }
}

@media screen and (max-width: 768px) {
  .boxes {
    width: 30vw;
    height: 30vw;
  }
}

.ani1 {
  position: relative;
  overflow: hidden;

  & > p {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 2.6rem;
    text-align: center;
  }
  .mask {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 100%;;
    background-color: rgb(50, 50, 50);
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    transition: .5s;

    .hoverme {
      color: #fff;
      font-size: 2.28rem;
      font-weight: 100;
      line-height: 5vw;
    }

    p {
      color: #fff;
      font-size: 1.5rem;
    }

  }

  &:hover .mask {
    top: 0;
  }
}

.ani2 {
  display: flex;
  justify-content: center;
  align-items: center;;
  flex-direction: column;
  text-decoration: none;
  p {
    font-size: 2.6rem;
  }
  i {
    top: 50%;
    left: 50%;
    color: pink;
    font-size: 13rem;
    animation: beating-heart-ani 1.4s infinite;
  }
}

@keyframes beating-heart-ani {
  from {
    transform: scale(1);
  }
  35% {
    transform: scale(1);
  }
  36% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.85);
  } 
  64% {
    transform: scale(1);
  }
  to {
    transform: scvale(1);
  }
}
