<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177277170-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-177277170-1');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="../css/style.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <link href="../code-prettify-master/src/prettify.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <h1 class="header-title">CSS-Animation</h1>
    <a href="../" class="link-btn">BACK</a>
  </header>

  <section class="top-section">
    <h2 class="top-title">#1 Slide Up</h2>
  </section>

  <main class="main">

  <div class="box">
    <div class="mask">
      <p class="hoverme">Slide Up</p>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
    </div>
  </div>

  <section class="section">
    <p>こんにちは。</p>
    <p>CSS-Animationと題しましたこのページ、第一回目はカーソルを合わせた時にスライドアップしてくるボックスです。仕組みが分かってしまえばすごく簡単です。</p>
    <p>hoverの書き方、positionの使い方になれるのにぴったりだと思い、第一回目の題材に持ってきました。</p>
  </section>

  <section class="section">
    <h2 class="section-title">boxとmaskを用意する</h2>

    <p>外枠にboxクラス、浮かび上がってくる部分をmaskクラスとして用意します。</p>
    <p>maskの中には、最初から見えている部分のslideUpクラス、隠れている部分のtestクラスを用意します。</p>

<pre class="prettyprint linenums">
<code>&lt;div class="box"&gt;
  &lt;div class="mask"&gt;
    &lt;p class="slideUp"&gt;Slide Up&lt;/p&gt;
    &lt;p class="text"&gt;Lorem ipsum dolor...略&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code>
</pre>

  <p>実はフォントサイズはpxやremだけではなく、vwを指定することもできます。pxを指定すると、ブラウザ幅が伸縮した時にレイアウトが崩れてしまいます。
    
  </section>

  <script src="../code-prettify-master/src/prettify.js"></script>
  <script src="../code-prettify-master/src/lang-css.js"></script>
  <script>prettyPrint()</script>
  </main>
  </body>

</html>