body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Segoe UI",
    "Helvetica Neue",
    HelveticaNeue,
    YuGothic,
    "Yu Gothic Medium",
    "Yu Gothic",
    Verdana,
    Meiryo,
    sans-serif;
}

.nav {
  background: rgba(240, 240, 240, .8);
  color: #222;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav .nav-item {
  height: 50px;
  line-height: 50px;
}

.nav .site-title {
  margin-left: 50px;
  font-size: 25px;
  letter-spacing: 2px;
}

.nav .links {
  margin-right: 100px;
}

.nav .links .links-item {
  margin: 0 20px;
  font-size: 20px;
}

.header {
  margin-top: 10vh;
  position: relative;
  height: 100px;
}

.header .site-title {
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
}

.img-wrapper {
  margin: 50px 0;
  text-align: center;
}

.img {
  width: 55%;
  height: 450px;
  object-fit: cover;
}

.section {
  background: #222;
  padding: 30px 0;
}

.section .section-title {
  font-size: 50px;
  text-align: center;
}

.info-section {
  background: rgb(240, 240, 240);
}

.info-section .section-title {
  color: #444;
}

.info-section ul {
  width: 40%;
  margin: 50px auto;
}

.info-section ul li {
  font-size: 22px;
  border-bottom: 3px dotted #555;
  padding-bottom: 6px;
  margin-bottom: 15px;
}

.location-section {
  background: #021b5e;

  color: #fff;
}