html {
  font-size: 62.5%; }

ul {
  list-style: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

a {
  color: #333;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  a:hover {
    color: #dc143c; }
