@charset "UTF-8";
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  font-size: 62.5%; }

ul {
  list-style: none; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

a {
  color: #333;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  a:hover {
    color: #dc143c; }

.global-nav {
  height: 70px;
  background-color: #fff;
  border-bottom: 1.5px solid #eee;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .global-nav {
      width: 100%; } }
  .global-nav .nav-title {
    font-size: 2.1rem;
    font-weight: 100;
    color: #666;
    letter-spacing: 3px;
    line-height: 70px;
    margin-left: 100px; }
  .global-nav .nav-list {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 3%; }
    .global-nav .nav-list .nav-item {
      padding: 0 14px; }
      .global-nav .nav-list .nav-item a {
        position: relative;
        display: block;
        font-size: 1.2rem;
        letter-spacing: 2px;
        height: 70px;
        line-height: 70px;
        color: #333;
        font-weight: 500;
        text-decoration: none;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .global-nav .nav-list .nav-item a:hover {
          color: #dc143c; }
        .global-nav .nav-list .nav-item a::before, .global-nav .nav-list .nav-item a::after {
          position: absolute;
          left: 50%;
          content: '';
          width: 0;
          height: 1px;
          background-color: #dc143c;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
        .global-nav .nav-list .nav-item a::before {
          top: 20px; }
        .global-nav .nav-list .nav-item a::after {
          bottom: 20px; }
        .global-nav .nav-list .nav-item a:hover::before, .global-nav .nav-list .nav-item a:hover::after {
          width: 130%; }
  .global-nav.clone-nav {
    position: fixed;
    top: -100px;
    left: 0;
    height: 50px;
    line-height: 50px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background: rgba(200, 200, 200, 0.1); }
    @media screen and (max-width: 768px) {
      .global-nav.clone-nav {
        background: rgba(100, 100, 100, 0.1);
        width: 100%; } }
    .global-nav.clone-nav .nav-title {
      color: #222;
      line-height: 50px; }
    .global-nav.clone-nav .nav-list .nav-item a {
      color: #222;
      height: 50px;
      line-height: 50px; }
      .global-nav.clone-nav .nav-list .nav-item a:hover {
        color: #dc143c; }
      .global-nav.clone-nav .nav-list .nav-item a::before {
        top: 12px; }
      .global-nav.clone-nav .nav-list .nav-item a::after {
        bottom: 12px; }
    .global-nav.clone-nav.is-fixed-nav {
      top: 0; }

@media (max-width: 768px) {
  .nav-title {
    display: none; }
  .nav-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; }
    .nav-list .nav-item {
      line-height: 30px;
      margin: 0; }
      .nav-list .nav-item a {
        font-size: .9rem; }
        .nav-list .nav-item a::before {
          top: 5px; }
        .nav-list .nav-item a::after {
          bottom: 5px; } }

.section {
  padding-top: 70px;
  width: 90%;
  margin: 60px auto; }
  @media screen and (max-width: 768px) {
    .section {
      margin: 0 auto; } }

.title {
  color: #444;
  font-family: 'Amiri', serif;
  font-weight: 100; }

.section-title-parent {
  text-align: center;
  margin-bottom: 20px; }
  .section-title-parent .section-title {
    font-size: 4rem;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    display: inline-block; }
    .section-title-parent .section-title::before, .section-title-parent .section-title::after {
      content: "◇";
      position: absolute;
      top: 50%;
      font-size: 2rem;
      font-weight: 100;
      color: #dc143c;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .section-title-parent .section-title::before {
      left: -23%; }
    .section-title-parent .section-title::after {
      right: -23%; }
    @media screen and (max-width: 768px) {
      .section-title-parent .section-title {
        font-size: 3rem; } }

.btn-wrapper {
  text-align: center; }
  .btn-wrapper .btn {
    display: inline-block;
    background: #fff;
    color: #444;
    font-size: 2.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 40px auto 0;
    padding: 12px 50px;
    border: 1px solid #aaa;
    border-radius: 2px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .btn-wrapper .btn:hover {
      color: #ad102f;
      -webkit-box-shadow: 0px 0px 1.5px #dc143c;
      box-shadow: 0px 0px 1.5px #dc143c; }
    @media screen and (max-width: 768px) {
      .btn-wrapper .btn {
        font-size: 2rem;
        margin: 20px auto 0;
        padding: 8px 40px; } }

.header .header-title {
  font-size: 5rem;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 70px 0 0;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .header .header-title {
      font-size: 4rem; } }

.header img {
  display: block;
  background: url(../images/top.jpg);
  background-size: cover;
  background-position: center;
  width: 70vw;
  height: 40vh;
  margin: 50px auto 80px; }
  @media screen and (max-width: 768px) {
    .header img {
      height: 28vh;
      width: 90vw; } }

.about-section .intro {
  margin: 10px auto 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .about-section .intro {
      width: 90%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .about-section .intro .intro-text {
    margin: 10px 30px;
    width: 40%;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-indent: .8rem; }
    @media screen and (max-width: 768px) {
      .about-section .intro .intro-text {
        width: 95%;
        margin: 30px auto 0;
        line-height: 1.6; } }

.article-section {
  width: 80%; }

.article-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .article-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.topic {
  position: relative;
  padding: 30px 10px 70px;
  width: 28%;
  margin: 20px 8px;
  border: 1px solid #eee; }
  @media screen and (max-width: 768px) {
    .topic {
      width: 85%;
      margin: 10px auto; } }
  .topic .topic-title {
    color: #666;
    font-size: 2.8rem;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .topic .topic-title {
        font-size: 2.2rem; } }
  .topic .topic-icon {
    font-size: 5rem;
    display: block;
    color: #888;
    margin: 35px 0;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .topic .topic-icon {
        font-size: 4rem;
        margin: 15px 0; } }
  .topic .topic-text {
    color: #666;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 1px;
    width: 85%;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .topic .topic-text {
        margin: 20px auto 0; } }
  .topic .topic-btn {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 8px 12px;
    background: #ccc; }

.link-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .link-section {
      width: 100%; } }
  .link-section > .section-title-parent {
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .link-section > .section-title-parent {
        margin-bottom: 30px; } }
  .link-section .link-wrapper {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto 40px; }
    @media screen and (max-width: 768px) {
      .link-section .link-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto;
        width: 98%; } }
    .link-section .link-wrapper a {
      display: block;
      position: relative; }
      @media screen and (max-width: 768px) {
        .link-section .link-wrapper a {
          margin: 0 5px 5px 5px; } }
      .link-section .link-wrapper a .img {
        width: 180px;
        height: 111px;
        -o-object-fit: cover;
        object-fit: cover; }
        @media screen and (max-width: 768px) {
          .link-section .link-wrapper a .img {
            width: 150px;
            height: 92px; } }
      .link-section .link-wrapper a .mask {
        color: #fff;
        text-align: center;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.8);
        font-size: 2.7rem;
        letter-spacing: 2px;
        opacity: 0;
        width: 180px;
        height: 111px;
        line-height: 111px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        @media screen and (max-width: 768px) {
          .link-section .link-wrapper a .mask {
            display: none; } }
      .link-section .link-wrapper a:hover .mask {
        opacity: 1;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg); }

.footer {
  padding: 30px 0 25px;
  background: #b03131; }
  .footer .footer-title {
    margin-left: 80px;
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 4px; }
    @media screen and (max-width: 768px) {
      .footer .footer-title {
        font-size: 2.2rem;
        margin: 0 auto 20px;
        text-align: center; } }
  .footer .footer-wrapper {
    margin-top: 15px;
    margin-left: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    text-align: left; }
    @media screen and (max-width: 768px) {
      .footer .footer-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 80%; } }
    .footer .footer-wrapper .footer-section {
      margin-right: 50px;
      padding: 8px 30px 20px 0; }
      @media screen and (max-width: 768px) {
        .footer .footer-wrapper .footer-section {
          margin: 0 3px;
          padding: 0;
          width: 43%; } }
      .footer .footer-wrapper .footer-section .section-title {
        color: #fff;
        font-size: 1.9rem;
        letter-spacing: 3px;
        text-align: left;
        font-weight: 100;
        margin: 0 0 10px 0; }
        @media screen and (max-width: 768px) {
          .footer .footer-wrapper .footer-section .section-title {
            letter-spacing: 1px; } }
      .footer .footer-wrapper .footer-section .footer-list {
        list-style: none; }
        .footer .footer-wrapper .footer-section .footer-list .list-item {
          font-size: 1.4rem;
          line-height: 1.7;
          letter-spacing: 2px; }
          @media screen and (max-width: 768px) {
            .footer .footer-wrapper .footer-section .footer-list .list-item {
              font-size: 1.2rem; } }
          .footer .footer-wrapper .footer-section .footer-list .list-item::before {
            font-family: "Font Awesome 5 Free";
            content: '\f0da';
            color: #fff;
            font-weight: 900;
            margin-right: 5px; }
          .footer .footer-wrapper .footer-section .footer-list .list-item a {
            color: #fff;
            text-decoration: none; }
            .footer .footer-wrapper .footer-section .footer-list .list-item a:hover {
              text-decoration: underline; }
  .footer .copyright {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .footer .copyright {
        margin-top: 20px; } }
    .footer .copyright a {
      color: #fff;
      font-size: 1.4rem; }
