.nogi-base, .header-nogi {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #fff), color-stop(50.3%, #932993)) no-repeat bottom right/100% 100%;
  background: -webkit-linear-gradient(top left, #fff 50%, #932993 50.3%) no-repeat bottom right/100% 100%;
  background: -o-linear-gradient(top left, #fff 50%, #932993 50.3%) no-repeat bottom right/100% 100%;
  background: linear-gradient(to bottom right, #fff 50%, #932993 50.3%) no-repeat bottom right/100% 100%;
  position: relative;
  font-family: 'Bitter', serif; }

.nogi-before, .header-nogi::before {
  position: absolute;
  right: 0;
  bottom: -30px;
  content: "potsunen";
  color: #932993;
  font-size: 2rem;
  font-style: italic; }

.nogi-after, .header-nogi::after {
  content: "47";
  font: 60px/1em -webkit-pictograph;
  color: #fff;
  right: 4px;
  bottom: 0;
  position: absolute; }

.header-nogi {
  width: 60px;
  height: 63px;
  margin: -10px 20px 0 -10px; }
  .header-nogi::before {
    font-size: .9rem;
    bottom: -12px; }
  .header-nogi::after {
    font-size: 1rem; }

@media (max-width: 768px) {
  .header-nogi {
    width: 45px;
    height: 46px;
    margin: 0 10px 0 -10px; }
    .header-nogi::before {
      display: none; } }
