.box {
  width: 15vw;
  height: 15vw;
  border: 1px solid #aaa;
  margin: 0 auto 5vh;
  position: relative;
  overflow: hidden; }
  .box .mask {
    position: absolute;
    top: 75%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #323232;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
    .box .mask:hover {
      top: 0; }
    .box .mask .hoverme {
      font-size: 2vw;
      line-height: 3.8vw;
      letter-spacing: 2px; }
    .box .mask .text {
      font-size: 1rem;
      line-height: 1.5;
      width: 90%;
      margin: 0 auto; }

.prettyprint {
  font-family: Monaco, Menlo, Consolas, 'Courier New', Courier, monospace, sans-serif;
  font-size: 1.8rem; }
  .prettyprint ol.linenums li {
    list-style: decimal inside;
    margin-bottom: 6px; }
    .prettyprint ol.linenums li code {
      font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
      font-weight: 100;
      margin-left: 10px; }

@media screen and (max-width: 768px) {
  .prettyprint {
    font-size: 1.2rem; } }
