.box {
  width: 25vw;
  height: 25vw;
  border: 1px solid #aaa;
  margin: 0 auto 10vh;
  position: relative;
  overflow: hidden; }
  .box .mask {
    position: absolute;
    top: 75%;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #323232;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
    .box .mask:hover {
      top: 0; }
    .box .mask .hoverme {
      font-size: 3vw;
      line-height: 7.5vw;
      letter-spacing: 2px; }
    .box .mask .text {
      font-size: 2rem;
      line-height: 1.5;
      width: 90%;
      margin: 0 auto; }

.prettyprint {
  /*
  overflow: auto;
  resize: horizontal;
  */
  font-family: Monaco, Menlo, Consolas, 'Courier New', Courier, monospace, sans-serif;
  font-size: 1.8rem; }
  .prettyprint ol.linenums li {
    list-style: decimal inside;
    margin-bottom: 6px; }
    .prettyprint ol.linenums li code {
      font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
      font-weight: 100;
      margin-left: 10px; }
