@charset "UTF-8";

@import "../../common_src/scss/master";
@import "./keyframes";
@import "./fadein";

$main-color: rgba(53, 155, 155, 1);

html {
  font-size: 62.5%;
  //font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  scroll-behavior: smooth;
}

.header {
  background: $main-color;
  height: 95vh;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eee;
  font-weight: 100;

  .header-title,
  .header-sub-title,
  p,
  .my-skill {
    font-family: 'Open Sans', sans-serif;
    animation-name: top-to-down;
    animation-duration: 2s;
  }

  .header-title,
  .header-sub-title {
    font-weight: 100;
    text-shadow: -1px 2px 0 rgba(100,100,100,1);
    text-align: center;
    @media (max-width: 768px) {
      width: 80%; 
    }
  }
  
  .header-title {
    margin-bottom: 30px;
    font-size: 6.3rem;
    letter-spacing: 4px;
    @media (max-width: 768px) {
      font-size: 5rem;
      letter-spacing: 2px;
    }
  }

  .header-sub-title {
    margin-bottom: 20px;
    font-size: 4rem;
    letter-spacing: 2px;
    @media (max-width: 768px) {
      font-size: 3rem;
      letter-spacing: 1px;
    }
  }

  p {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ddd;
    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
    time {
      font-weight: 100;
      letter-spacing: 1px;
    }
  }

  .my-skill {
    display: block;
    width: 60%;
    padding: 2%;
    color: #ddd;
    text-decoration: none;

    &:hover .my-skill-title,
    &:hover .skill-wrapper div p {
      color: orange;
    }

    @media screen and (max-width: 768px) {
      width: 90%;
    }

    .my-skill-title {
      font-size: 3.5rem;
      letter-spacing: 1px;
      text-align: center;
      transition: .2s;
    }

    .skill-wrapper {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      div{
        display: flex;
        justify-content: space-around;
        margin: 0 auto 15px;
        text-align: center;
        width: 50%;
        @media (max-width: 768px) {
          width: 95%;
        }
        p {
          font-size: 1.6rem;
          font-weight: 100;
          margin-bottom: 10px;
          transition: .2s;
          @media screen and (max-width: 768px) {
            font-size: 1.3rem;
          }
          i {
            margin-right: 8px;
            font-size: 2.2rem;
            @media screen and (max-width: 768px) {
              font-size: 1.9rem;
            }
          }
        }
      }
    }
  }

  .arrow-container {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 50px;
    @media (max-width: 768px) {
      margin-top: -20px;
    }

    &:hover .arrow {
      border-color: orange;
    }

    .arrow {
      width: 25px;
      height: 25px;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotate(45deg);
      animation: arrow-move 1.5s infinite;
      transition: .5s;

      &:not(:first-child) {
        margin-top: -10px;
      }
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: .15 * $i + s;
        }
      }
    }
  }
  @keyframes arrow-move {
    0% {
      opacity: 0;
      transform: rotate(45deg);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(10px) rotate(45deg);
    }
  }
} //header

.section {
  padding: 7% 0 10%;  
}

.section-title {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 3.8rem;
  letter-spacing: 2px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.section-links {
  .links-wrapper {
    display: flex;
    justify-content: center;
    margin: 40px 0 30px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .links-title {
    letter-spacing: 5px;
  }

  .link-item {
    display: block;
    width: 20vw;
    height: 20vw;
    margin: 0 1.2%;
    border: 1.5px solid rgb(210,210,210);
    border-radius: 3px;
    color: #444;
    text-decoration: none;
    text-align: center;
    &:hover {
      background: rgb(248,248,248);
      color: orange;
    }
    @media (max-width: 768px) {
      width: 70%;
      margin: 0 auto 20px;
      height: auto;
    }

    .link-title {
      font-size: 2.2rem;
      letter-spacing: 2px;
      margin: 50px 0 30px 0;
    }

    i {
      font-size: 6rem;
      margin: 0;
    }

    p {
      width: 80%;
      margin: 40px auto 50px;
      font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
      font-size: 1.8rem;
      line-height: 1.6;
    }
  } //link-item

  .nogi {
    background: linear-gradient(to bottom right, #fff 50%, rgb(147,41,147) 50.3%) no-repeat bottom right/100% 100%;
    width: 62px;
    height: 62px;
    position: relative;
    margin: 0 auto;
    &::after {
      content: "47";
      font: 18px/1em -webkit-pictograph;
      color: #fff;
      right: 4px;
      bottom: 0;
      position: absolute;
    }
  }
} //section-links

.section-constitution {
  max-width: 1200px;
  margin: 0 auto;
  .img {
    display: block;
    width: 50%;
    margin: 50px auto;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }
}

.section-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 30px auto 50px;
  .img {
    display: block;
    width: 35%;
  }
  p {
    width: 40%;
    color: #444;
    font-size: 1.8rem;
    line-height: 1.5;
  }

}
.btn-wrapper {
  margin: 0 auto;
  text-align: center;
  .link-btn {
    display: inline-block;
    border: 1px solid;
    position: relative;
    background: #fff;
    color:$main-color;
    font-size: 2.4rem;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid $main-color;
    padding:1.3rem 5.5rem 1.3rem 2.2rem;
    transition: .1s;

    &:before,&:after{
      content:"";
      position:absolute;
      display: block;
      transition: all .3s;
      right: 1.5rem;
      top:50%;
    }

    &:before{
      width: 2rem;
      height: 2px;
      background: $main-color;
      transform: translateY(-50%) ;
    }

    &:after{
      opacity:0;
      width: 0;
      height:0;
      border-top: solid 2px currentColor;
      border-right: solid 2px currentColor;
      transform: translateY(-50%) rotate(45deg);
    }

    &:hover {
      transform: scale(1.05);
      &:before{
        width:1.5rem;
      }
      &:after {
        opacity:1;
        width: 8px;
        height: 8px;
        transition-delay: .2s;
      }
    }
  }
}