/**
* トップページ用
**/

//青みがかった紫
$top-main-color1: #514AfD;
//水色
$top-main-color2: #24C6DC;

$top-sub-color1: darken(#fdc830, 15%);

$top-sub-color2: darken(#f37335, 10%);

//少し青い黒
$top-dark-color1: #292E49;
//明るめの灰色
$top-dark-color2: #536976;


// ページ用
$page-main-color: #333399;
$page-sub-color: #ff00cc;

